# Boroughs Feature Engineering

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_parquet('borough_summary.parquet')

In [7]:
# lets add revenue per trip
df['revenue_per_trip'] = (df['total_revenue'] / df['total_trips'])

In [10]:
df['revenue_per_mile'] = (df['avg_fare'] / df['avg_distance'])

In [12]:
# Averave Speed (Kilometer per Hour)
df['avg_speed_kmh'] = (
    df['avg_distance'] / (df['avg_trip'] / 60)
) * 1.60934

In [14]:
df.drop(columns=['avg_speed_kmh'], inplace=True)

In [16]:
# Average Speed (Kilomter per Hour)
df['avg_speed_kmh'] = (
    (df['avg_distance'] * 1.60934) /
    (df['avg_trip'] / 60)
)
# Not required yet

In [17]:
df

,borough_id,total_trips,total_revenue,avg_fare,avg_distance,avg_trip,revenue_per_trip,revenue_per_mile,avg_speed_kmh
0,1,1150,112811.78,98.097200,3.322617,8.346101,98.097200,29.524073,38.441093
1,2,58,4084.37,70.420172,15.051379,39.061207,70.420172,4.678652,37.207432
2,3,83,2620.61,31.573614,5.029398,17.543373,31.573614,6.277812,27.682284
3,4,41564,1014629.74,24.411263,2.570325,14.114873,24.411263,9.497347,17.583691
4,5,3,180.68,60.226667,4.563333,19.766667,60.226667,13.197955,22.291937
...,...,...,...,...,...,...,...,...,...
255,259,97,3851.04,39.701443,6.193814,19.582302,39.701443,6.409854,30.541720
256,260,6919,335871.24,48.543321,4.434326,18.007665,48.543321,10.947171,23.777668
257,261,175243,5789869.46,33.039091,4.062693,20.585504,33.039091,8.132314,19.056867
258,262,443050,9815077.73,22.153431,2.274574,12.142443,22.153431,9.739596,18.088105
259,263,634574,13291839.21,20.946082,2.056588,11.453183,20.946082,10.184870,17.338845

In [18]:
df.drop(columns=['avg_speed_kmh'], inplace=True)

In [21]:
# Average Speed (Miles per Hour)
df['avg_speed_mph'] = (
    df['avg_distance'] / (df['avg_trip'] / 60)
)

In [23]:
# Revenue Per Minute
df['revenue_per_min'] = (
    df['avg_fare'] / df['avg_trip']
)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   borough_id        260 non-null    int64
 1   total_trips       260 non-null    int64
 2   total_revenue     260 non-null    float64
 3   avg_fare          260 non-null    float64
 4   avg_distance      260 non-null    float64
 5   avg_trip          260 non-null    float64
 6   revenue_per_trip  260 non-null    float64
 7   revenue_per_mile  260 non-null    float64
 8   avg_speed_mph     260 non-null    float64
 9   revenue_per_min   260 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 20.4 KB

In [25]:
df.drop(columns=['avg_fare'], inplace=True)

In [28]:
df.rename(columns={'avg_trip':'avg_trip_duration_min'}, inplace=True)

In [30]:
lookup_table = pd.read_csv('taxi_zone_lookup.csv')

In [31]:
lookup_table.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [32]:
first = df.copy()

In [33]:
df = df.merge(
    lookup_table[['LocationID','Borough', 'Zone']],
    left_on='borough_id',
    right_on='LocationID',
    how='left'
)

In [34]:
df

,borough_id,total_trips,total_revenue,avg_distance,avg_trip_duration_min,revenue_per_trip,revenue_per_mile,avg_speed_mph,revenue_per_min,LocationID,Borough,Zone
0,1,1150,112811.78,3.322617,8.346101,98.097200,29.524073,23.886247,11.753655,1,EWR,Newark Airport
1,2,58,4084.37,15.051379,39.061207,70.420172,4.678652,23.119684,1.802816,2,Queens,Jamaica Bay
2,3,83,2620.61,5.029398,17.543373,31.573614,6.277812,17.201016,1.799746,3,Bronx,Allerton/Pelham Gardens
3,4,41564,1014629.74,2.570325,14.114873,24.411263,9.497347,10.926026,1.729471,4,Manhattan,Alphabet City
4,5,3,180.68,4.563333,19.766667,60.226667,13.197955,13.851602,3.046880,5,Staten Island,Arden Heights
...,...,...,...,...,...,...,...,...,...,...,...,...
255,259,97,3851.04,6.193814,19.582302,39.701443,6.409854,18.977792,2.027414,259,Bronx,Woodlawn/Wakefield
256,260,6919,335871.24,4.434326,18.007665,48.543321,10.947171,14.774794,2.695703,260,Queens,Woodside
257,261,175243,5789869.46,4.062693,20.585504,33.039091,8.132314,11.841418,1.604969,261,Manhattan,World Trade Center
258,262,443050,9815077.73,2.274574,12.142443,22.153431,9.739596,11.239455,1.824463,262,Manhattan,Yorkville East
259,263,634574,13291839.21,2.056588,11.453183,20.946082,10.184870,10.773886,1.828844,263,Manhattan,Yorkville West

In [35]:
df.drop(columns=['LocationID', 'borough_id'],inplace=True)

In [38]:
cols = ['Borough', 'Zone', 'total_trips', 
        'total_revenue','avg_distance','avg_trip_duration_min','avg_speed_mph',
       'revenue_per_trip','revenue_per_mile','revenue_per_min']
df = df[cols]

In [42]:
df.rename(columns={'Borough':'borough',
                  'Zone':'zone'}, inplace=True)

In [43]:
df

,borough,zone,total_trips,total_revenue,avg_distance,avg_trip_duration_min,avg_speed_mph,revenue_per_trip,revenue_per_mile,revenue_per_min
0,EWR,Newark Airport,1150,112811.78,3.322617,8.346101,23.886247,98.097200,29.524073,11.753655
1,Queens,Jamaica Bay,58,4084.37,15.051379,39.061207,23.119684,70.420172,4.678652,1.802816
2,Bronx,Allerton/Pelham Gardens,83,2620.61,5.029398,17.543373,17.201016,31.573614,6.277812,1.799746
3,Manhattan,Alphabet City,41564,1014629.74,2.570325,14.114873,10.926026,24.411263,9.497347,1.729471
4,Staten Island,Arden Heights,3,180.68,4.563333,19.766667,13.851602,60.226667,13.197955,3.046880
...,...,...,...,...,...,...,...,...,...,...
255,Bronx,Woodlawn/Wakefield,97,3851.04,6.193814,19.582302,18.977792,39.701443,6.409854,2.027414
256,Queens,Woodside,6919,335871.24,4.434326,18.007665,14.774794,48.543321,10.947171,2.695703
257,Manhattan,World Trade Center,175243,5789869.46,4.062693,20.585504,11.841418,33.039091,8.132314,1.604969
258,Manhattan,Yorkville East,443050,9815077.73,2.274574,12.142443,11.239455,22.153431,9.739596,1.824463
259,Manhattan,Yorkville West,634574,13291839.21,2.056588,11.453183,10.773886,20.946082,10.184870,1.828844

In [44]:
df.to_parquet('borough_summary_ready.parquet', index=False)