# Hourly Feature Engineering

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_parquet('hourly_summary.parquet')

In [5]:
df.rename(columns={'trip_count':'total_trips'}, inplace=True)

In [7]:
df.rename(columns={'avg_fare':'revenue_per_trip'},inplace=True)

In [ ]:
df.rename(columns={'avg_trip':'avg_trip_duration_min'}, inplace=True)

In [11]:
df['revenue_per_mile'] = (
    df['total_revenue'] / (df['total_trips'] * df['avg_distance'])
)

In [12]:
df['revenue_per_minute'] = (
    df['total_revenue'] / (df['total_trips'] * df['avg_trip_duration_min'])
)

In [13]:
df['avg_speed_mph'] = (
    df['avg_distance'] / (df['avg_trip_duration_min'] / 60)
)

In [25]:
# Mapping 24 hour format to 12 hour format through following function:
def h24_to_h12(hr):
    hour_12 = hr % 12
    if hour_12 == 0:
        hour_12 = 12
    suffix = 'AM' if hr < 12 else 'PM'
    return f'{hour_12:02d} {suffix}'

df['hour_label'] = df['hour'].apply(h24_to_h12)
print(df[['hour', 'hour_label']])

    hour hour_label
0      0      12 AM
1      1      01 AM
2      2      02 AM
3      3      03 AM
4      4      04 AM
5      5      05 AM
6      6      06 AM
7      7      07 AM
8      8      08 AM
9      9      09 AM
10    10      10 AM
11    11      11 AM
12    12      12 PM
13    13      01 PM
14    14      02 PM
15    15      03 PM
16    16      04 PM
17    17      05 PM
18    18      06 PM
19    19      07 PM
20    20      08 PM
21    21      09 PM
22    22      10 PM
23    23      11 PM

In [28]:
df.drop(columns=['hour'], inplace=True)

In [32]:
cols = ['hour_label', 'total_trips', 'avg_distance', 'avg_trip_duration_min',
       'avg_speed_mph', 'total_revenue', 'revenue_per_trip','revenue_per_mile',
       'revenue_per_minute']
df = df[cols]

In [35]:
df.rename(columns={'hour_label':'hour'}, inplace=True)

In [41]:
df.to_parquet('hourly_summary_ready.parquet', index=False)