# Monthly Feature Engineering

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_parquet('monthly_summary1.parquet')

In [4]:
df

      month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0   2024-12     3131288    90856299.57  29.015632      3.192428  18.348315
1   2025-01     2752626    74921291.61  27.218115      3.050282  14.577733
2   2025-02     2599121    69921520.90  26.901988      2.981682  14.850492
3   2025-03     3015063    84478047.48  28.018667      3.185436  15.649081
4   2025-04     2992143    84752728.14  28.325093      3.163116  16.174112
5   2025-05     3121083    92388448.11  29.601407      3.321262  17.439091
6   2025-06     2838991    83846836.23  29.534027      3.352754  16.881824
7   2025-07     2594458    75527143.65  29.110953      3.344164  16.379070
8   2025-08     2417131    71136705.10  29.430223      3.492977  16.310868
9   2025-09     2879717    86034769.29  29.876120      3.307509  17.617658
10  2025-10     3110938    92653556.54  29.783158      3.248464  17.529622
11  2025-11     2888381    84060611.67  29.103021      3.150982  17.052648

In [5]:
df['month'].dtype

dtype('O')

In [11]:
df.loc[df['month'] == 2, 'month'] = 'February'

In [19]:
df.loc[df['month'] == 3, 'month'] = 'March'

In [20]:
df.loc[df['month'] == 4, 'month'] = 'April'

In [21]:
df.loc[df['month'] == 5, 'month'] = 'May'

In [17]:
mapped_months = {
    1:'January',
    2:'February',
    3:'March',
    4:'April',
    5:'May',
    6:'June',
    7:'July',
    8:'August',
    9:'September',
    10:'October',
    11:'November',
    12:'December'
}
df['month'] = df['month'].map(mapped_months)

In [22]:
df

        month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0         NaN     2752628    74921374.44  27.218126      3.050284  14.577738
1         NaN     2599121    69921520.90  26.901988      2.981682  14.850492
2         NaN     3015063    84478047.48  28.018667      3.185436  15.649081
3         NaN     2992143    84752728.14  28.325093      3.163116  16.174112
4         NaN     3121083    92388448.11  29.601407      3.321262  17.439091
5        June     2838991    83846836.23  29.534027      3.352754  16.881824
6        July     2594458    75527143.65  29.110953      3.344164  16.379070
7      August     2417131    71136705.10  29.430223      3.492977  16.310868
8   September     2879717    86034769.29  29.876120      3.307509  17.617658
9     October     3110938    92653556.54  29.783158      3.248464  17.529622
10   November     2888381    84060611.67  29.103021      3.150982  17.052648
11   December     3131289    90856380.51  29.015648      3.192433  18.348318

In [23]:
df.loc[0, 'month'] = 'January'

In [24]:
df

        month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0     January     2752628    74921374.44  27.218126      3.050284  14.577738
1         NaN     2599121    69921520.90  26.901988      2.981682  14.850492
2         NaN     3015063    84478047.48  28.018667      3.185436  15.649081
3         NaN     2992143    84752728.14  28.325093      3.163116  16.174112
4         NaN     3121083    92388448.11  29.601407      3.321262  17.439091
5        June     2838991    83846836.23  29.534027      3.352754  16.881824
6        July     2594458    75527143.65  29.110953      3.344164  16.379070
7      August     2417131    71136705.10  29.430223      3.492977  16.310868
8   September     2879717    86034769.29  29.876120      3.307509  17.617658
9     October     3110938    92653556.54  29.783158      3.248464  17.529622
10   November     2888381    84060611.67  29.103021      3.150982  17.052648
11   December     3131289    90856380.51  29.015648      3.192433  18.348318

In [25]:
df.loc[1, 'month'] = 'February'
df.loc[2, 'month'] = 'March'
df.loc[3, 'month'] = 'April'
df.loc[4, 'month'] = 'May'

In [26]:
df

        month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0     January     2752628    74921374.44  27.218126      3.050284  14.577738
1    February     2599121    69921520.90  26.901988      2.981682  14.850492
2       March     3015063    84478047.48  28.018667      3.185436  15.649081
3       April     2992143    84752728.14  28.325093      3.163116  16.174112
4         May     3121083    92388448.11  29.601407      3.321262  17.439091
5        June     2838991    83846836.23  29.534027      3.352754  16.881824
6        July     2594458    75527143.65  29.110953      3.344164  16.379070
7      August     2417131    71136705.10  29.430223      3.492977  16.310868
8   September     2879717    86034769.29  29.876120      3.307509  17.617658
9     October     3110938    92653556.54  29.783158      3.248464  17.529622
10   November     2888381    84060611.67  29.103021      3.150982  17.052648
11   December     3131289    90856380.51  29.015648      3.192433  18.348318

In [5]:
df

      month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0   2024-12     3131288    90856299.57  29.015632      3.192428  18.348315
1   2025-01     2752626    74921291.61  27.218115      3.050282  14.577733
2   2025-02     2599121    69921520.90  26.901988      2.981682  14.850492
3   2025-03     3015063    84478047.48  28.018667      3.185436  15.649081
4   2025-04     2992143    84752728.14  28.325093      3.163116  16.174112
5   2025-05     3121083    92388448.11  29.601407      3.321262  17.439091
6   2025-06     2838991    83846836.23  29.534027      3.352754  16.881824
7   2025-07     2594458    75527143.65  29.110953      3.344164  16.379070
8   2025-08     2417131    71136705.10  29.430223      3.492977  16.310868
9   2025-09     2879717    86034769.29  29.876120      3.307509  17.617658
10  2025-10     3110938    92653556.54  29.783158      3.248464  17.529622
11  2025-11     2888381    84060611.67  29.103021      3.150982  17.052648

In [6]:
df.rename(columns={'avg_trip':'avg_trip_duration_min'},inplace=True)

In [7]:
df

,month,trip_count,total_revenue,avg_fare,avg_distance,avg_trip_duration_min
0,2024-12,3131288,90856299.57,29.015632,3.192428,18.348315
1,2025-01,2752626,74921291.61,27.218115,3.050282,14.577733
2,2025-02,2599121,69921520.90,26.901988,2.981682,14.850492
3,2025-03,3015063,84478047.48,28.018667,3.185436,15.649081
4,2025-04,2992143,84752728.14,28.325093,3.163116,16.174112
5,2025-05,3121083,92388448.11,29.601407,3.321262,17.439091
6,2025-06,2838991,83846836.23,29.534027,3.352754,16.881824
7,2025-07,2594458,75527143.65,29.110953,3.344164,16.379070
8,2025-08,2417131,71136705.10,29.430223,3.492977,16.310868
9,2025-09,2879717,86034769.29,29.876120,3.307509,17.617658
10,2025-10,3110938,92653556.54,29.783158,3.248464,17.529622
11,2025-11,2888381,84060611.67,29.103021,3.150982,17.052648

In [10]:
df.info()
df.rename(columns={'trip_count':'total_trips'}, inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12 non-null     period[M]
 1   trip_count             12 non-null     int64
 2   total_revenue          12 non-null     float64
 3   avg_fare               12 non-null     float64
 4   avg_distance           12 non-null     float64
 5   avg_trip_duration_min  12 non-null     float64
dtypes: float64(4), int64(1), period[M](1)
memory usage: 708.0 bytes

In [11]:
df['revenue_per_mile'] = (
    df['total_revenue'] / (df['total_trips'] * df['avg_distance'])
)


df['revenue_per_min'] = (
    df['total_revenue'] / (df['total_trips'] * df['avg_trip_duration_min'])
)

df['avg_speed_mph'] = (
    df['avg_distance'] / (df['avg_trip_duration_min'] / 60)
)

In [30]:
df.rename(columns={'trip_count':'total_trips'},inplace=True)

In [13]:
df.head()

,month,total_trips,total_revenue,avg_fare,avg_distance,avg_trip_duration_min,revenue_per_mile,revenue_per_min,avg_speed_mph
0,2024-12,3131288,90856299.57,29.015632,3.192428,18.348315,9.088892,1.581379,10.439415
1,2025-01,2752626,74921291.61,27.218115,3.050282,14.577733,8.923149,1.867102,12.554551
2,2025-02,2599121,69921520.90,26.901988,2.981682,14.850492,9.022419,1.811522,12.046802
3,2025-03,3015063,84478047.48,28.018667,3.185436,15.649081,8.795866,1.790435,12.213251
4,2025-04,2992143,84752728.14,28.325093,3.163116,16.174112,8.954807,1.751261,11.733996

In [14]:
df.rename(columns={'avg_fare':'revenue_per_trip'},inplace=True)

In [15]:
df

,month,total_trips,total_revenue,revenue_per_trip,avg_distance,avg_trip_duration_min,revenue_per_mile,revenue_per_min,avg_speed_mph
0,2024-12,3131288,90856299.57,29.015632,3.192428,18.348315,9.088892,1.581379,10.439415
1,2025-01,2752626,74921291.61,27.218115,3.050282,14.577733,8.923149,1.867102,12.554551
2,2025-02,2599121,69921520.90,26.901988,2.981682,14.850492,9.022419,1.811522,12.046802
3,2025-03,3015063,84478047.48,28.018667,3.185436,15.649081,8.795866,1.790435,12.213251
4,2025-04,2992143,84752728.14,28.325093,3.163116,16.174112,8.954807,1.751261,11.733996
5,2025-05,3121083,92388448.11,29.601407,3.321262,17.439091,8.912698,1.697417,11.426957
6,2025-06,2838991,83846836.23,29.534027,3.352754,16.881824,8.808887,1.749457,11.916083
7,2025-07,2594458,75527143.65,29.110953,3.344164,16.379070,8.705001,1.777326,12.250382
8,2025-08,2417131,71136705.10,29.430223,3.492977,16.310868,8.425542,1.804332,12.849016
9,2025-09,2879717,86034769.29,29.876120,3.307509,17.617658,9.032817,1.695805,11.264296
10,2025-10,3110938,92653556.54,29.783158,3.248464,17.529622,9.168383,1.699019,11.118769
11,2025-11,2888381,84060611.67,29.103021,3.150982,17.052648,9.236175,1.706657,11.086777

In [16]:
(df['total_trips'] > 0).unique().tolist()

[True]

In [17]:
if (df['avg_distance'] > 0).all():
    print('Correct')

Correct

In [18]:
if (df['avg_trip_duration_min'] > 0).all():
    print('Correct')

Correct

In [19]:
if (df['total_revenue'] >= 0).all():
    print('Correct')

Correct

In [20]:
df['pct_trips'] = (
    df['total_trips'] / (df['total_trips'].sum())
) * 100

In [21]:
df

,month,total_trips,total_revenue,revenue_per_trip,avg_distance,avg_trip_duration_min,revenue_per_mile,revenue_per_min,avg_speed_mph,pct_trips
0,2024-12,3131288,90856299.57,29.015632,3.192428,18.348315,9.088892,1.581379,10.439415,9.118236
1,2025-01,2752626,74921291.61,27.218115,3.050282,14.577733,8.923149,1.867102,12.554551,8.015581
2,2025-02,2599121,69921520.90,26.901988,2.981682,14.850492,9.022419,1.811522,12.046802,7.568578
3,2025-03,3015063,84478047.48,28.018667,3.185436,15.649081,8.795866,1.790435,12.213251,8.779792
4,2025-04,2992143,84752728.14,28.325093,3.163116,16.174112,8.954807,1.751261,11.733996,8.713049
5,2025-05,3121083,92388448.11,29.601407,3.321262,17.439091,8.912698,1.697417,11.426957,9.088519
6,2025-06,2838991,83846836.23,29.534027,3.352754,16.881824,8.808887,1.749457,11.916083,8.267074
7,2025-07,2594458,75527143.65,29.110953,3.344164,16.379070,8.705001,1.777326,12.250382,7.555000
8,2025-08,2417131,71136705.10,29.430223,3.492977,16.310868,8.425542,1.804332,12.849016,7.038628
9,2025-09,2879717,86034769.29,29.876120,3.307509,17.617658,9.032817,1.695805,11.264296,8.385667
10,2025-10,3110938,92653556.54,29.783158,3.248464,17.529622,9.168383,1.699019,11.118769,9.058977
11,2025-11,2888381,84060611.67,29.103021,3.150982,17.052648,9.236175,1.706657,11.086777,8.410897

In [22]:
df['pct_revenue'] = (
    df['total_revenue'] / (df['total_revenue'].sum())
) * 100

In [53]:
df

,month,total_trips,total_revenue,revenue_per_trip,avg_distance,avg_trip_duration_min,revenue_per_mile,revenue_per_min,avg_speed_mph,pct_trips,pct_revenue
0,January,2752628,74921374.44,27.218126,3.050284,14.577738,8.923145,1.867102,12.554557,8.015587,7.563399
1,February,2599121,69921520.90,26.901988,2.981682,14.850492,9.022419,1.811522,12.046802,7.568578,7.058658
2,March,3015063,84478047.48,28.018667,3.185436,15.649081,8.795866,1.790435,12.213251,8.779791,8.528156
3,April,2992143,84752728.14,28.325093,3.163116,16.174112,8.954807,1.751261,11.733996,8.713048,8.555885
4,May,3121083,92388448.11,29.601407,3.321262,17.439091,8.912698,1.697417,11.426957,9.088519,9.326720
5,June,2838991,83846836.23,29.534027,3.352754,16.881824,8.808887,1.749457,11.916083,8.267074,8.464434
6,July,2594458,75527143.65,29.110953,3.344164,16.379070,8.705001,1.777326,12.250382,7.554999,7.624552
7,August,2417131,71136705.10,29.430223,3.492977,16.310868,8.425542,1.804332,12.849016,7.038627,7.181332
8,September,2879717,86034769.29,29.876120,3.307509,17.617658,9.032817,1.695805,11.264296,8.385667,8.685309
9,October,3110938,92653556.54,29.783158,3.248464,17.529622,9.168383,1.699019,11.118769,9.058977,9.353483
10,November,2888381,84060611.67,29.103021,3.150982,17.052648,9.236175,1.706657,11.086777,8.410896,8.486015
11,December,3131289,90856380.51,29.015648,3.192433,18.348318,9.088884,1.581379,10.439429,9.118238,9.172056

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   month                  12 non-null     object
 1   total_trips            12 non-null     int64
 2   total_revenue          12 non-null     float64
 3   revenue_per_trip       12 non-null     float64
 4   avg_distance           12 non-null     float64
 5   avg_trip_duration_min  12 non-null     float64
 6   revenue_per_mile       12 non-null     float64
 7   revenue_per_min        12 non-null     float64
 8   avg_speed_mph          12 non-null     float64
 9   pct_trips              12 non-null     float64
 10  pct_revenue            12 non-null     float64
dtypes: float64(9), int64(1), object(1)
memory usage: 1.2+ KB

In [25]:
numeric_cols = ['total_trips','total_revenue','revenue_per_trip',
                'avg_distance','avg_trip_duration_min',
                'revenue_per_mile','revenue_per_min','avg_speed_mph',
                'pct_trips','pct_revenue']
for col in numeric_cols:
    if (df[col] <= 0).any():
        print(f"Warning: {col} has zero or negative values")

In [26]:
df.to_parquet('monthly_summary_ready.parquet', index=False)

NameError: name 'df' is not defined