In [48]:
import numpy as np
import pandas as pd

In [49]:
df = pd.read_parquet('hourly_summary.parquet')
df.head()

   hour  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0     0      906085    27206378.03  30.026298      3.953933  14.814035
1     1      586182    15967830.54  27.240397      3.462436  13.637324
2     2      372693     9347621.18  25.081290      3.039199  12.410103
3     3      238342     6162852.87  25.857184      3.200313  12.076259
4     4      155964     5149171.03  33.015125      4.524116  13.667195

In [50]:
df.head(25)

    hour  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0      0      906085    27206378.03  30.026298      3.953933  14.814035
1      1      586182    15967830.54  27.240397      3.462436  13.637324
2      2      372693     9347621.18  25.081290      3.039199  12.410103
3      3      238342     6162852.87  25.857184      3.200313  12.076259
4      4      155964     5149171.03  33.015125      4.524116  13.667195
5      5      176703     6702692.86  37.931970      5.640430  14.511529
6      6      402413    12285669.47  30.530001      4.346215  14.351367
7      7      845335    23063529.87  27.283302      3.419053  15.010847
8      8     1196676    31345463.28  26.193776      2.938067  15.114823
9      9     1419864    37661083.60  26.524430      2.869164  15.631537
10    10     1587147    42899219.12  27.029140      2.895709  16.220714
11    11     1725125    47273318.95  27.402837      2.887626  16.888705
12    12     1879671    53394862.02  28.406493      2.988708  17.305050
13    13     1966247    56269854.22  28.617897      3.115467  17.807063
14    14     2116106    63546084.93  30.029727      3.343237  19.146999
15    15     2195138    65060563.70  29.638485      3.294520  19.407841
16    16     2248322    71052796.68  31.602589      3.324869  19.405116
17    17     2431282    73316914.63  30.155661      3.044870  18.152928
18    18     2504245    71590205.63  28.587541      2.871408  16.375167
19    19     2209780    63433375.20  28.705742      3.072836  15.528217
20    20     2026092    57417996.17  28.339284      3.310463  15.183026
21    21     2040298    57991923.04  28.423261      3.350942  15.070185
22    22     1796220    52410348.57  29.178134      3.530120  15.448668
23    23     1315013    40028366.47  30.439521      3.905451  15.443512

In [11]:
monthly_summary = pd.read_parquet('monthly_summary.parquet')
monthly_summary.head(25)

    month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0       1     2752628    74921374.44  27.218126      3.050284  14.577738
1       2     2599121    69921520.90  26.901988      2.981682  14.850492
2       3     3015063    84478047.48  28.018667      3.185436  15.649081
3       4     2992143    84752728.14  28.325093      3.163116  16.174112
4       5     3121083    92388448.11  29.601407      3.321262  17.439091
5       6     2838991    83846836.23  29.534027      3.352754  16.881824
6       7     2594458    75527143.65  29.110953      3.344164  16.379070
7       8     2417131    71136705.10  29.430223      3.492977  16.310868
8       9     2879717    86034769.29  29.876120      3.307509  17.617658
9      10     3110938    92653556.54  29.783158      3.248464  17.529622
10     11     2888381    84060611.67  29.103021      3.150982  17.052648
11     12     3131289    90856380.51  29.015648      3.192433  18.348318

In [51]:
monthly_summary.head(25)

    month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0       1     2752628    74921374.44  27.218126      3.050284  14.577738
1       2     2599121    69921520.90  26.901988      2.981682  14.850492
2       3     3015063    84478047.48  28.018667      3.185436  15.649081
3       4     2992143    84752728.14  28.325093      3.163116  16.174112
4       5     3121083    92388448.11  29.601407      3.321262  17.439091
5       6     2838991    83846836.23  29.534027      3.352754  16.881824
6       7     2594458    75527143.65  29.110953      3.344164  16.379070
7       8     2417131    71136705.10  29.430223      3.492977  16.310868
8       9     2879717    86034769.29  29.876120      3.307509  17.617658
9      10     3110938    92653556.54  29.783158      3.248464  17.529622
10     11     2888381    84060611.67  29.103021      3.150982  17.052648
11     12     3131289    90856380.51  29.015648      3.192433  18.348318

In [52]:
monthly_summary.to_parquet('monthly_summary.parquet', index=False)

In [53]:
monthly_summary.head(25)

    month  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0       1     2752628    74921374.44  27.218126      3.050284  14.577738
1       2     2599121    69921520.90  26.901988      2.981682  14.850492
2       3     3015063    84478047.48  28.018667      3.185436  15.649081
3       4     2992143    84752728.14  28.325093      3.163116  16.174112
4       5     3121083    92388448.11  29.601407      3.321262  17.439091
5       6     2838991    83846836.23  29.534027      3.352754  16.881824
6       7     2594458    75527143.65  29.110953      3.344164  16.379070
7       8     2417131    71136705.10  29.430223      3.492977  16.310868
8       9     2879717    86034769.29  29.876120      3.307509  17.617658
9      10     3110938    92653556.54  29.783158      3.248464  17.529622
10     11     2888381    84060611.67  29.103021      3.150982  17.052648
11     12     3131289    90856380.51  29.015648      3.192433  18.348318

In [54]:
daily_summary = pd.read_parquet('daily_summary.parquet')

In [55]:
daily_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           367 non-null    object
 1   trip_count     367 non-null    int64
 2   total_revenue  367 non-null    float64
 3   avg_fare       367 non-null    float64
 4   avg_distance   367 non-null    float64
 5   avg_trip       367 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 17.3+ KB

In [56]:
daily_summary.duplicated().sum()

0

In [57]:
daily_summary.isna().sum()

date             0
trip_count       0
total_revenue    0
avg_fare         0
avg_distance     0
avg_trip         0
dtype: int64

In [58]:
daily_summary.shape

(367, 6)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   hour           24 non-null     int32
 1   trip_count     24 non-null     int64
 2   total_revenue  24 non-null     float64
 3   avg_fare       24 non-null     float64
 4   avg_distance   24 non-null     float64
 5   avg_trip       24 non-null     float64
dtypes: float64(4), int32(1), int64(1)
memory usage: 1.2 KB

In [60]:
daily_summary['date'] = pd.to_datetime(daily_summary['date'])

In [61]:
daily_summary = daily_summary[daily_summary['date'] >=  '2025-01-01']

In [62]:
daily_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 33 to 366
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           334 non-null    datetime64[ns]
 1   trip_count     334 non-null    int64
 2   total_revenue  334 non-null    float64
 3   avg_fare       334 non-null    float64
 4   avg_distance   334 non-null    float64
 5   avg_trip       334 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 18.3 KB

In [63]:
daily_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 33 to 366
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           334 non-null    datetime64[ns]
 1   trip_count     334 non-null    int64
 2   total_revenue  334 non-null    float64
 3   avg_fare       334 non-null    float64
 4   avg_distance   334 non-null    float64
 5   avg_trip       334 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 18.3 KB

In [64]:
daily_summary['date'].describe()

count                    334
mean     2025-06-16 12:00:00
min      2025-01-01 00:00:00
25%      2025-03-25 06:00:00
50%      2025-06-16 12:00:00
75%      2025-09-07 18:00:00
max      2025-11-30 00:00:00
Name: date, dtype: object

In [65]:
daily_summary.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334 entries, 33 to 366
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           334 non-null    datetime64[ns]
 1   trip_count     334 non-null    int64
 2   total_revenue  334 non-null    float64
 3   avg_fare       334 non-null    float64
 4   avg_distance   334 non-null    float64
 5   avg_trip       334 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 18.3 KB

In [66]:
daily_summary.head(40)

         date  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
33 2025-01-01       69295     2001591.19  28.885074      3.817844  15.248185
34 2025-01-02       75365     2191721.02  29.081417      3.572969  16.274988
35 2025-01-03       81480     2249560.59  27.608746      3.267998  15.486901
36 2025-01-04       87695     2311377.80  26.357008      3.174483  14.809661
37 2025-01-05       70645     2045995.52  28.961647      3.765098  14.503074
38 2025-01-06       70953     2014714.71  28.395060      3.408958  14.489191
39 2025-01-07       86563     2310716.56  26.694044      2.973956  14.368352
40 2025-01-08       93708     2456516.59  26.214588      2.813743  14.200388
41 2025-01-09       97745     2623546.36  26.840722      2.912170  14.946523
42 2025-01-10       92002     2500120.23  27.174629      3.043261  14.590067
43 2025-01-11       97876     2466903.52  25.204376      2.884231  13.437799
44 2025-01-12       79635     2201632.46  27.646543      3.480757  13.610216
45 2025-01-13       82621     2266410.71  27.431412      3.135976  14.298445
46 2025-01-14       97544     2599941.77  26.654041      2.851726  14.458126
47 2025-01-15      100172     2682830.91  26.782244      2.866181  14.811797
48 2025-01-16      107248     2913085.30  27.162141      2.927563  15.102699
49 2025-01-17       93440     2567463.68  27.477137      3.036203  15.406777
50 2025-01-18       90863     2268692.87  24.968280      2.831399  13.855126
51 2025-01-19       76070     1898644.91  24.959181      3.017312  12.395404
52 2025-01-20       64638     2790064.64  43.164464      3.996658  13.971879
53 2025-01-21       89454     2412980.69  26.974542      2.970490  14.814255
54 2025-01-22       96387     2525726.83  26.204020      2.731345  14.493929
55 2025-01-23      103647     2768963.01  26.715322      2.785988  14.970760
56 2025-01-24       99255     2640927.38  26.607500      2.845561  14.939521
57 2025-01-25      103935     2548371.32  24.518895      2.670530  13.940980
58 2025-01-26       77851     2125866.36  27.306860      3.415521  13.417851
59 2025-01-27       77321     2128736.81  27.531160      3.145900  14.762525
60 2025-01-28       91805     2421212.57  26.373428      2.789610  14.721117
61 2025-01-29       96906     2581084.36  26.634928      2.846547  14.794115
62 2025-01-30      103740     2813099.15  27.116822      2.876961  15.316636
63 2025-01-31       96767     2592791.79  26.794174      2.895774  14.967606
64 2025-02-01      104497     2551820.66  24.420038      2.642422  13.986100
65 2025-02-02       84989     2253600.58  26.516380      3.231596  13.520417
66 2025-02-03       78229     2165108.80  27.676550      3.172450  14.872687
67 2025-02-04       95176     2508734.29  26.358896      2.745243  14.937256
68 2025-02-05      100726     2720816.78  27.012060      2.797697  15.414388
69 2025-02-06       97518     2613512.18  26.800305      2.812324  15.200399
70 2025-02-07      102529     2727992.84  26.607036      2.839840  15.162727
71 2025-02-08      101539     2461638.64  24.243282      2.563894  14.196540
72 2025-02-09       75369     2042378.85  27.098394      3.421264  13.341068

In [67]:
daily_summary.shape

(334, 6)

In [68]:
df.head(40)

    hour  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0      0      906085    27206378.03  30.026298      3.953933  14.814035
1      1      586182    15967830.54  27.240397      3.462436  13.637324
2      2      372693     9347621.18  25.081290      3.039199  12.410103
3      3      238342     6162852.87  25.857184      3.200313  12.076259
4      4      155964     5149171.03  33.015125      4.524116  13.667195
5      5      176703     6702692.86  37.931970      5.640430  14.511529
6      6      402413    12285669.47  30.530001      4.346215  14.351367
7      7      845335    23063529.87  27.283302      3.419053  15.010847
8      8     1196676    31345463.28  26.193776      2.938067  15.114823
9      9     1419864    37661083.60  26.524430      2.869164  15.631537
10    10     1587147    42899219.12  27.029140      2.895709  16.220714
11    11     1725125    47273318.95  27.402837      2.887626  16.888705
12    12     1879671    53394862.02  28.406493      2.988708  17.305050
13    13     1966247    56269854.22  28.617897      3.115467  17.807063
14    14     2116106    63546084.93  30.029727      3.343237  19.146999
15    15     2195138    65060563.70  29.638485      3.294520  19.407841
16    16     2248322    71052796.68  31.602589      3.324869  19.405116
17    17     2431282    73316914.63  30.155661      3.044870  18.152928
18    18     2504245    71590205.63  28.587541      2.871408  16.375167
19    19     2209780    63433375.20  28.705742      3.072836  15.528217
20    20     2026092    57417996.17  28.339284      3.310463  15.183026
21    21     2040298    57991923.04  28.423261      3.350942  15.070185
22    22     1796220    52410348.57  29.178134      3.530120  15.448668
23    23     1315013    40028366.47  30.439521      3.905451  15.443512

In [19]:
borough_summary = pd.read_parquet('borough_summary.parquet')

    borough_id  total_trips  total_revenue   avg_fare  avg_distance
0            1         1022      101438.20  99.254599      3.504452
1            2           47        3283.39  69.859362     14.900426
2            3           79        2472.47  31.297089      4.970506
3            4        38382      938360.00  24.447918      2.570895
4            5            3         180.68  60.226667      4.563333
5            6          473       10185.01  21.532791      6.075899
6            7        11815      315469.52  26.700763      3.148212
7            8          165       11830.31  71.698848      5.095818
8            9          126        4162.98  33.039524      4.880556
9           10         7876      695565.80  88.314601     12.603191
10          11           92        6235.62  67.778478      5.120870
11          12        11432      384679.35  33.649348      4.281132
12          13       187456     6264478.51  33.418394      4.338332
13          14          863       31923.40  36.991194      5.593418
14          15           82        3765.50  45.920732      8.460610
15          16          133        5011.73  37.682180      5.625865
16          17         1498       33633.62  22.452350      2.653812
17          18          193        4393.47  22.764093      2.836839
18          19          223       10873.72  48.761076      5.452377
19          20          208        7394.40  35.550000      5.426202
20          21           86        3117.03  36.244535      4.274651
21          22          163        6427.00  39.429448      4.907669
22          23           34        1859.17  54.681471      8.718824
23          24        69200     1515492.72  21.900184      2.405968
24          25         8226      224373.30  27.276112      3.367127
25          26          200        5182.70  25.913500      3.642900
26          27           38        1529.69  40.255000      6.541842
27          28         1671      130284.11  77.967750      8.467684
28          29          104        3885.36  37.359231      5.441250
29          30           10         466.77  46.677000      6.706000
30          31          120        6343.05  52.858750      7.817917
31          32           62        1793.40  28.925806      4.731774
32          33        10496      324611.67  30.927179      4.149053
33          34         1210       48437.33  40.030851      4.433884
34          35          201        5323.23  26.483731      3.568756
35          36         1567       50740.35  32.380568      4.256694
36          37         1548       46287.46  29.901460      3.684257
37          38          225       14125.00  62.777778     11.092800
38          39          375       19911.86  53.098293      6.786213
39          40         2347       61520.89  26.212565      3.065573

In [20]:
borough_summary.shape

(260, 5)

In [69]:
daily_summary.to_parquet('daily_summary_updated.parquet', index=False)

In [74]:
hourly_summary.head()

NameError: name 'hourly_summary' is not defined

In [75]:
hourly_summary = pd.read_parquet('hourly_summary.parquet')

In [76]:
hourly_summary.head(30)

    hour  trip_count  total_revenue   avg_fare  avg_distance   avg_trip
0      0      906085    27206378.03  30.026298      3.953933  14.814035
1      1      586182    15967830.54  27.240397      3.462436  13.637324
2      2      372693     9347621.18  25.081290      3.039199  12.410103
3      3      238342     6162852.87  25.857184      3.200313  12.076259
4      4      155964     5149171.03  33.015125      4.524116  13.667195
5      5      176703     6702692.86  37.931970      5.640430  14.511529
6      6      402413    12285669.47  30.530001      4.346215  14.351367
7      7      845335    23063529.87  27.283302      3.419053  15.010847
8      8     1196676    31345463.28  26.193776      2.938067  15.114823
9      9     1419864    37661083.60  26.524430      2.869164  15.631537
10    10     1587147    42899219.12  27.029140      2.895709  16.220714
11    11     1725125    47273318.95  27.402837      2.887626  16.888705
12    12     1879671    53394862.02  28.406493      2.988708  17.305050
13    13     1966247    56269854.22  28.617897      3.115467  17.807063
14    14     2116106    63546084.93  30.029727      3.343237  19.146999
15    15     2195138    65060563.70  29.638485      3.294520  19.407841
16    16     2248322    71052796.68  31.602589      3.324869  19.405116
17    17     2431282    73316914.63  30.155661      3.044870  18.152928
18    18     2504245    71590205.63  28.587541      2.871408  16.375167
19    19     2209780    63433375.20  28.705742      3.072836  15.528217
20    20     2026092    57417996.17  28.339284      3.310463  15.183026
21    21     2040298    57991923.04  28.423261      3.350942  15.070185
22    22     1796220    52410348.57  29.178134      3.530120  15.448668
23    23     1315013    40028366.47  30.439521      3.905451  15.443512