# NYC Taxi & Limousine Commission (TLC) Dataset Cleaning Pipeline

### Dataset Overview

##### This project analyzes the NYC Taxi & Limousine Commission (TLC) trip-level
##### data for November 2025. The dataset contains approximately 2.88 million trips 
##### and includes temporal, spatial, passenger, distance, and fare-related attributes.
##### The objective of this notebook is to perform systematic data cleaning, validation,
##### and consistency checks to ensure the dataset 
##### is analytically reliable and suitable for exploratory analysis and modeling.

### Cleaning Strategy

##### Data cleaning was performed conservatively, prioritizing domain correctness
##### over aggressive transformations. Each column was evaluated for missing values,
##### invalid ranges, type consistency, and logical constraints. Columns governed by
##### NYC TLC policy (e.g., surcharges and fees) were treated differently from continuous
##### variables to avoid semantic distortion. No rows were removed unless they violated
##### fundamental logical invariants.

### Policy-Based Charges

##### Several monetary columns in the dataset represent fixed, 
##### policy-mandated surcharges rather than variable pricing mechanisms. 
##### These include the improvement surcharge, airport fee, CBD congestion fee,
##### and congestion surcharge. Such columns were validated based on expected discrete
##### values, duplication patterns, and absence of nulls. High duplication in these 
##### columns is interpreted as a normal consequence of flat-fee policy application 
##### rather than data quality issues.

### Limitations !!!

##### While extensive validation was performed, certain discrepancies between
##### the total fare and the sum of individual fare components persist due to 
##### rounding behavior, legacy pricing rules, and TLC policy nuances. 
##### These inconsistencies are documented rather than force-corrected to preserve
##### the integrity of the original recorded transaction values.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_parquet("../data/raw/yellow_tripdata_2025-11.parquet")

In [4]:
df.head(2)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,7,2025-11-01 00:13:25,2025-11-01 00:13:25,1.0,1.68,1.0,N,43,186,1,14.9,0.0,0.5,1.50,0.0,1.0,22.15,2.5,0.0,0.75
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1.0,2.28,1.0,N,142,237,1,14.2,1.0,0.5,4.99,0.0,1.0,24.94,2.5,0.0,0.75

In [5]:
df.shape

(4181444, 20)

In [6]:
df.shape

(4181444, 20)

In [7]:
df['VendorID'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 4181444 entries, 0 to 4181443
Series name: VendorID
Non-Null Count    Dtype
--------------    -----
4181444 non-null  int32
dtypes: int32(1)
memory usage: 16.0 MB

In [8]:
df['VendorID'].describe()

count    4.181444e+06
mean     1.879423e+00
std      7.463690e-01
min      1.000000e+00
25%      2.000000e+00
50%      2.000000e+00
75%      2.000000e+00
max      7.000000e+00
Name: VendorID, dtype: float64

In [9]:
df.shape

(4181444, 20)

In [10]:
df['VendorID'].duplicated().sum()

4181440

In [11]:
df['VendorID'].unique().tolist()

[7, 2, 1, 6]

In [12]:
df['VendorID'].dtype

dtype('int32')

In [13]:
df['VendorID'] = df['VendorID'].astype('category')

In [14]:
df[['VendorID']].memory_usage(deep=True)

Index           132
VendorID    4181600
dtype: int64

In [15]:
df['VendorID'].duplicated().sum()

4181440

In [16]:
df.rename(columns={'VendorID':'Vendor_ID'}, inplace=True)

In [17]:
df.rename(columns={'VendorID':'vendor_id',
                  'tpep_pickup_datetime':'pickup_datetime',
                  'tpep_dropoff_datetime':'dropoff_datetime',
                  'RatecodeID':'rate_code_id',
                  'PULocationID':'pu_location_id',
                  'DOLocationID':'do_location_id',
                  'Airport_fee':'airport_fee'}, inplace=True)

In [30]:
df['rate_code_id'].dtype

CategoricalDtype(categories=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 99.0], ordered=False, categories_dtype=float64)

In [31]:
df['rate_code_id'] = df['rate_code_id'].astype('category')

In [32]:
df['rate_code_id'].nunique() # must set to category data type

7

In [33]:
df['store_and_fwd_flag'].nunique() # must set to category data type

2

In [34]:
df['payment_type'].nunique() # must set to category data type

5

In [35]:
df['store_and_fwd_flag'] = df['store_and_fwd_flag'].astype('category')

In [36]:
df['payment_type'] = df['payment_type'].astype('category')

In [37]:
df['passenger_count'].unique().tolist()

[1.0, 0.0, 3.0, 2.0, 4.0, 5.0, 6.0, 8.0, 7.0, nan]

In [38]:
df['passenger_count'] = df['passenger_count'].astype('Int8')

In [39]:
df['pu_location_id'] = df['pu_location_id'].astype('Int16')
df['do_location_id'] = df['do_location_id'].astype('Int16')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4181444 entries, 0 to 4181443
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(11)
memory usage: 462.6 MB

In [41]:
df['trip_duration_min'] = (df['dropoff_datetime'] - df['pickup_datetime']).dt.total_seconds() / 60

invalid_time = df[(df['trip_duration_min'] <= 0) | (df['trip_duration_min'] > 24*60)]

In [44]:
n_invalid_time = invalid_time.shape[0]
pct_invalid_time = n_invalid_time / len(df) * 100
n_invalid_time, pct_invalid_time

(62162, 1.4866156284766698)

In [45]:
invalid_time[['pickup_datetime','dropoff_datetime','trip_duration_min']].head(30)

        pickup_datetime    dropoff_datetime  trip_duration_min
0   2025-11-01 00:13:25 2025-11-01 00:13:25                0.0
21  2025-11-01 00:09:20 2025-11-01 00:09:20                0.0
22  2025-11-01 00:38:59 2025-11-01 00:38:59                0.0
23  2025-11-01 00:55:33 2025-11-01 00:55:33                0.0
30  2025-11-01 00:14:12 2025-11-01 00:14:12                0.0
42  2025-11-01 00:13:36 2025-11-01 00:13:36                0.0
43  2025-11-01 00:25:26 2025-11-01 00:25:26                0.0
44  2025-11-01 00:40:05 2025-11-01 00:40:05                0.0
55  2025-11-01 00:02:35 2025-11-01 00:02:35                0.0
56  2025-11-01 00:27:15 2025-11-01 00:27:15                0.0
116 2025-11-01 00:17:16 2025-11-01 00:17:16                0.0
117 2025-11-01 00:22:04 2025-11-01 00:22:04                0.0
118 2025-11-01 00:37:45 2025-11-01 00:37:45                0.0
119 2025-11-01 00:49:20 2025-11-01 00:49:20                0.0
120 2025-11-01 00:01:49 2025-11-01 00:01:49                0.0
121 2025-11-01 00:08:58 2025-11-01 00:08:58                0.0
122 2025-11-01 00:45:02 2025-11-01 00:45:02                0.0
166 2025-11-01 00:29:20 2025-11-01 00:29:20                0.0
167 2025-11-01 00:59:40 2025-11-01 00:59:40                0.0
253 2025-11-01 00:37:01 2025-11-01 00:37:01                0.0
254 2025-11-01 00:42:55 2025-11-01 00:42:55                0.0
255 2025-11-01 00:55:44 2025-11-01 00:55:44                0.0
291 2025-11-01 00:18:32 2025-11-01 00:18:32                0.0
391 2025-11-01 00:05:42 2025-11-01 00:05:42                0.0
392 2025-11-01 00:42:24 2025-11-01 00:42:24                0.0
419 2025-11-01 00:49:13 2025-11-01 00:49:13                0.0
519 2025-11-01 00:08:48 2025-11-01 00:08:48                0.0
520 2025-11-01 00:18:44 2025-11-01 00:18:44                0.0
552 2025-11-01 00:03:14 2025-11-01 00:03:14                0.0
553 2025-11-01 00:32:57 2025-11-01 00:32:57                0.0

In [46]:
df = df[(df['trip_duration_min'] > 0) & (df['trip_duration_min'] <= 24*60)].copy()

In [47]:
(df['trip_duration_min'] > 24*60).sum()

0

In [48]:
(df['trip_duration_min'] <= 0).sum()

0

In [49]:
# Documentation: 62,162 trips (1.49%) with
# non-positive or excessively long durations (>24 hours) were removed.

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4119282 entries, 1 to 4181443
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 518.6 MB

In [51]:
# Step 2: Distance Validation
invalid_dist = df[(df['trip_distance'] <= 0) | (df['trip_distance'] > 100)]
invalid_dist.shape[0]

108325

In [52]:
(invalid_dist[['trip_distance']]).head(20)

      trip_distance
138             0.0
180             0.0
276             0.0
417             0.0
418             0.0
476             0.0
477             0.0
660             0.0
661             0.0
814             0.0
954             0.0
1149            0.0
1241            0.0
1268            0.0
1280            0.0
1281            0.0
1282            0.0
1310            0.0
1321            0.0
1322            0.0

In [53]:
df = df[
    (df['trip_distance'] > 0) 
    &
    (df['trip_distance'] <= 100)
].copy()

In [54]:
(df['trip_distance'] > 100).sum()

0

In [55]:
(df['trip_distance'] <= 0).sum()

0

In [56]:
# Documentation: 108,325 trips with zero, negative,
# or unrealistically large distances (>100 miles) were removed.

In [57]:
df['passenger_count'].value_counts().sort_index()

passenger_count
0      19105
1    2439259
2     424933
3      99332
4      66478
5      10322
6       6416
8          3
Name: count, dtype: Int64

In [58]:
df['passenger_count'].value_counts().sort_index()

passenger_count
0      19105
1    2439259
2     424933
3      99332
4      66478
5      10322
6       6416
8          3
Name: count, dtype: Int64

In [59]:
df = df[df['passenger_count'] <= 6].copy()

In [60]:
(df['passenger_count'] >6).sum()

0

In [61]:
# Documentation: Trips with passenger counts exceeding the legal taxi capacity
#                    (>6) were removed

# Why NOT to drop passenger_count = 0?
# Because dropping them would remove legitimate records, bias short-trop analysis
# and bias early morning / meter-test patterns and etc

In [62]:
df[['fare_amount', 'total_amount']].describe()

        fare_amount  total_amount
count  3.065845e+06  3.065845e+06
mean   1.955896e+01  2.894295e+01
std    1.933231e+01  2.416032e+01
min   -1.508700e+03 -1.514450e+03
25%    9.300000e+00  1.662000e+01
50%    1.420000e+01  2.205000e+01
75%    2.260000e+01  3.200000e+01
max    1.508700e+03  1.514450e+03

In [63]:
(df['fare_amount'] < 0).head(20).astype('Int64')

1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
Name: fare_amount, dtype: Int64

In [64]:
df.head(2)

,Vendor_ID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1.0,N,142,237,1,...,1.00,0.5,4.99,0.0,1.0,24.94,2.5,0.0,0.75,12.250000
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1.0,N,163,238,1,...,4.25,0.5,4.27,0.0,1.0,25.62,2.5,0.0,0.75,13.366667

In [65]:
invalid_fare = df[
(df['fare_amount'] < 0) | (df['total_amount'] < 0)
]
invalid_fare.shape

(45022, 21)

In [66]:
invalid_total = df[df['total_amount'] < df['fare_amount']]
invalid_total.shape[0]

45021

In [67]:
df = df[
    (df['fare_amount'] >= 0) &
    (df['total_amount'] >= df['fare_amount'])
].copy()

In [68]:
(df['fare_amount'] < 0).sum()

0

In [69]:
(df['total_amount'] < 0).sum()

0

In [70]:
(df['total_amount'] < df['fare_amount']).sum()

0

In [71]:
# Documentation: Trips with negative fares or total, as well as records where the
# total amount was less than the base fare, were removed!.

In [72]:
df['payment_type'].value_counts()

payment_type
1    2629033
2     347204
4      33376
3      11210
0          0
Name: count, dtype: int64

In [73]:
df['payment_type'].unique()

[1, 2, 3, 4]
Categories (5, int64): [0, 1, 2, 3, 4]

In [74]:
df[(df['payment_type'] == 'Cash') & (df['tip_amount'] > 0)].shape[0]

0

In [75]:
payment_map = {1:'Credit Card',
               2:'Cash',
               3:'No Charge',
               4:'Dispute'}
df['payment_type'] = (df['payment_type'].map(payment_map).astype('category'))

In [76]:
df.head()

,Vendor_ID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1.0,N,142,237,Credit Card,...,1.00,0.5,4.99,0.00,1.0,24.94,2.5,0.00,0.75,12.250000
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1.0,N,163,238,Credit Card,...,4.25,0.5,4.27,0.00,1.0,25.62,2.5,0.00,0.75,13.366667
3,2,2025-11-01 00:00:00,2025-11-01 01:01:03,3,12.87,1.0,N,138,261,Credit Card,...,6.00,0.5,0.00,6.94,1.0,86.14,2.5,1.75,0.75,61.050000
4,1,2025-11-01 00:18:50,2025-11-01 00:49:32,0,8.40,1.0,N,138,37,Cash,...,7.75,0.5,0.00,0.00,1.0,48.65,0.0,1.75,0.00,30.700000
5,2,2025-11-01 00:21:11,2025-11-01 00:31:39,1,0.85,1.0,N,90,100,Cash,...,1.00,0.5,0.00,0.00,1.0,16.45,2.5,0.00,0.75,10.466667

In [77]:
df['payment_type'].nunique()

4

In [78]:
df['payment_type'].unique().tolist()

['Credit Card', 'Cash', 'No Charge', 'Dispute']

In [79]:
# Payment method information in the dataset was originally encoded using
# numeric identifiers as specified by the NYC Taxi & Limousine Commission. 
# For interpretability, these identifiers were replaced with descriptive payment 
# method labels within the same column. 
# The following mapping was applied: 1 (Credit Card), 2 (Cash), 3 (No Charge), 4
# and 4 (Dispute). The resulting variable was treated as a categorical feature in
# subsequent analyses.

In [85]:
(df['passenger_count']>6).sum()

0

In [86]:
(df['passenger_count'] <=6).sum()

3020823

In [87]:
df.shape

(3020823, 21)

In [89]:
df['rate_code_id'].nunique()

7

In [90]:
df['rate_code_id'].unique().tolist()

[1.0, 4.0, 5.0, 99.0, 2.0, 3.0, 6.0]

In [91]:
df['rate_code_id'].dtype

CategoricalDtype(categories=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 99.0], ordered=False, categories_dtype=float64)

In [92]:
(df['rate_code_id'] == 99.0).sum()

108123

In [93]:
invalid_rate = df[df['rate_code_id'] == 99]
invalid_rate.shape[0]

108123

In [94]:
# Percentage of invalid rates
invalid_rate.shape[0] / len(df) * 100

3.579256381456312

In [95]:
df = df[df['rate_code_id'].isin([1,2,3,4,5,6])].copy()

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2912700 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 366.7 MB

In [97]:
df['rate_code_id'] = df['rate_code_id'].astype('category')

In [98]:
df['rate_code_id'].head(2)

1    1.0
2    1.0
Name: rate_code_id, dtype: category
Categories (7, float64): [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 99.0]

In [99]:
df['rate_code_id'].dtype

CategoricalDtype(categories=[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 99.0], ordered=False, categories_dtype=float64)

In [100]:
df['rate_code_id'] = df['rate_code_id'].astype('Int8')

In [101]:
df['rate_code_id'] = df['rate_code_id'].astype('category')

In [102]:
df['rate_code_id'].dtype

CategoricalDtype(categories=[1, 2, 3, 4, 5, 6], ordered=False, categories_dtype=Int8)

In [103]:
df[['rate_code_id']].head(2)

  rate_code_id
1            1
2            1

In [104]:
df['rate_code_id'].cat.categories

Index([1, 2, 3, 4, 5, 6], dtype='Int8')

In [105]:
df['rate_code_id'] = df['rate_code_id'].astype('category')

In [106]:
# Documentation #1: 
# Invalid rate code values (e.g., 99), which are not defined in the official TLC codebook,
# were identified and removed from the dataset.
# Rate code identifiers were then treated as categorical variables.
# Although stored as floating-point labels (e.g., 1.0), 
# their semantic meaning corresponds to discrete TLC-defined rate categories.

In [107]:
df['store_and_fwd_flag'].value_counts()

store_and_fwd_flag
N    2907887
Y       4813
Name: count, dtype: int64

In [108]:
df['store_and_fwd_flag'].isna().sum()

0

In [109]:
# Documentation:
#      All store-and-forward flag values were within the 
#      valid TLC-defined set (Y, N).

In [110]:
# NYC TLC defines 263 valid taxi zones, so these rows are invalid !
invalid_doc = df[
    (~df['pu_location_id'].between(1, 263)) |
    (~df['do_location_id'].between(1, 263))
]
invalid_doc.shape[0]

24283

In [111]:
df = df[
    df['pu_location_id'].between(1, 263) &
    df['do_location_id'].between(1, 263)
].copy()

In [112]:
(
    df['pu_location_id'].between(1, 263).all(),
    df['do_location_id'].between(1, 263).all()
)
# A validation check confirmed that all pickup and dropoff location identifiers
# in the cleaned dataset fall within the valid NYC TLC taxi zone range.

(True, True)

In [113]:
# Documentation: 
# Trips with pickup or dropoff location identifiers
# outside the valid NYC TLC taxi zone range (1â€“263) 
# were removed from the dataset.

In [114]:
# How many percent of invalid location data were removed?
# Approximately X% of trips were removed due to invalid pickup or
# dropoff location identifiers 
#falling outside the valid NYC TLC taxi zone range.

In [115]:
percent = invalid_doc.shape[0] / len(df) * 100
print(percent)

0.8407027101696188

In [116]:
print(invalid_doc.shape[0])

24283

In [117]:
df.shape

(2888417, 21)

In [118]:
df['fare_amount'].describe()

count    2.888417e+06
mean     1.925443e+01
std      1.674960e+01
min      0.000000e+00
25%      9.300000e+00
50%      1.350000e+01
75%      2.190000e+01
max      1.508700e+03
Name: fare_amount, dtype: float64

In [120]:
df['pickup_datetime'].nunique()

1530379

In [121]:
df['payment_type'].cat.categories

Index(['Cash', 'Credit Card', 'Dispute', 'No Charge'], dtype='object')

In [122]:
pd.set_option("display.max_columns", None)

In [124]:
df['extra'].isna().sum()

0

In [125]:
df['extra'].duplicated().sum()

2888375

In [126]:
df.shape[0]

2888417

In [127]:
df['extra'].describe()

count    2.888417e+06
mean     1.514532e+00
std      1.870198e+00
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      2.500000e+00
max      1.500000e+01
Name: extra, dtype: float64

In [128]:
# Documentation: 
# The extra fare component showed no missing values and no 
# invalid or negative amounts. Although some higher values were observed,
# these fall within plausible surcharge aggregation ranges in TLC trip records;
# therefore, no filtering was applied.

In [129]:
df['mta_tax'].nunique()

5

In [130]:
df['mta_tax'].unique().tolist()

[0.5, 0.0, 4.75, 4.0, 3.25]

In [131]:
df['mta_tax'].isna().sum()

0

In [132]:
df['mta_tax'].describe()

count    2.888417e+06
mean     4.937705e-01
std      5.576484e-02
min      0.000000e+00
25%      5.000000e-01
50%      5.000000e-01
75%      5.000000e-01
max      4.750000e+00
Name: mta_tax, dtype: float64

In [133]:
df['mta_tax'].info()

<class 'pandas.core.series.Series'>
Index: 2888417 entries, 1 to 3166703
Series name: mta_tax
Non-Null Count    Dtype
--------------    -----
2888417 non-null  float64
dtypes: float64(1)
memory usage: 44.1 MB

In [134]:
df['mta_tax'].dtype

dtype('float64')

In [135]:
invalid_mta = df[~df['mta_tax'].isin([0.0, 0.5])]
invalid_mta.shape[0]

6

In [136]:
invalid_mta.shape[0] / len(df) * 100

0.00020772623897449713

In [137]:
df = df[df['mta_tax'].isin([0.0,0.5])].copy()

In [138]:
df.shape

(2888411, 21)

In [139]:
# Documentation: 
# The mta_tax column is defined as a fixed $0.50 surcharge with\
# valid zero-valued exemptions. A small number of trips (n = 6) containing 
# non-standard MTA tax values were identified and removed.

In [140]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888411 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [142]:
df['tip_amount'].describe()

count    2.888411e+06
mean     3.835033e+00
std      3.980813e+00
min      0.000000e+00
25%      1.750000e+00
50%      3.030000e+00
75%      4.770000e+00
max      5.750000e+02
Name: tip_amount, dtype: float64

In [143]:
df['tip_amount'].dtype

dtype('float64')

In [144]:
df['tip_amount'].info()

<class 'pandas.core.series.Series'>
Index: 2888411 entries, 1 to 3166703
Series name: tip_amount
Non-Null Count    Dtype
--------------    -----
2888411 non-null  float64
dtypes: float64(1)
memory usage: 44.1 MB

In [145]:
df['tip_amount'].isna().sum()

0

In [146]:
df['tip_amount'].nunique()

3658

In [147]:
# Checking credit card tips with zero tip
cc_zero_tip = df[
    (df['payment_type'] == 'Credit Card') & (df['tip_amount'] == 0)
]
cc_zero_tip.shape[0]

117575

In [148]:
cash_zero_tip = df[
    (df['payment_type'] == 'Cash') & (df['tip_amount'] == 0)
]
cash_zero_tip.shape[0]

343195

In [149]:
cash_nonzero_tip = df[
    (df['payment_type'] == 'Cash') & (df['tip_amount'] > 0)
]
cash_nonzero_tip.shape[0]

19

In [150]:
# Documentation:
#   Tip amounts are recorded only for credit card transactions.
#   Zero-valued tips were observed for both credit card and cash payments;
#   in the latter case, this reflects unrecorded cash gratuities rather
#   than the absence of tipping.

In [151]:
(df['tip_amount'] < 0).sum()

0

In [152]:
df['tip_amount'].describe()

count    2.888411e+06
mean     3.835033e+00
std      3.980813e+00
min      0.000000e+00
25%      1.750000e+00
50%      3.030000e+00
75%      4.770000e+00
max      5.750000e+02
Name: tip_amount, dtype: float64

In [153]:
# Checking the max tip 575$ is not a fair tip and is likely to be an error above!
invalid_tips = df[
    (df['tip_amount'] < 0) |
    (df['tip_amount'] > 200)
]
invalid_tips.shape[0]

6

In [154]:
invalid_tips.shape[0] / len(df) * 100

0.00020772667047729704

In [155]:
# Total 0.00020772667047729704% of tips more than 200

In [156]:
df = df[
    (df['tip_amount'] >= 0) &
    (df['tip_amount'] <= 200)
].copy()

In [157]:
df.shape

(2888405, 21)

In [158]:
# Documentation: 
#    An upper bound of $200 was used to exclude extreme outliers likely resulting
#    from data entry or recording errors.

In [161]:
df.shape

(2888405, 21)

In [168]:
df['passenger_count'].unique().tolist()

[1, 0, 3, 2, 4, 5, 6]

In [169]:
df.head(2)

,Vendor_ID,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1,N,142,237,Credit Card,14.2,1.00,0.5,4.99,0.0,1.0,24.94,2.5,0.0,0.75,12.250000
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1,N,163,238,Credit Card,15.6,4.25,0.5,4.27,0.0,1.0,25.62,2.5,0.0,0.75,13.366667

In [170]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [176]:
df['Vendor_ID'].isna().sum()

0

In [179]:
df['Vendor_ID'].duplicated().sum()

2888403

In [180]:
df['Vendor_ID'].dtype

CategoricalDtype(categories=[1, 2, 6, 7], ordered=False, categories_dtype=int32)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Vendor_ID              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [185]:
df.rename(columns={'Vendor_ID':'vendor_id'},inplace=True)

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [199]:
df['vendor_id'].isna().sum()

0

In [200]:
df['trip_duration_min'].isna().sum()

0

In [201]:
df['cbd_congestion_fee'].isna().sum()

0

In [202]:
df['airport_fee'].isna().sum()

0

In [203]:
df['congestion_surcharge'].isna().sum()

0

In [204]:
df['total_amount'].isna().sum()

0

In [205]:
df['improvement_surcharge'].isna().sum()

0

In [218]:
df['pickup_datetime'].isna().sum()

0

In [219]:
df['tolls_amount'].isna().sum()

0

In [232]:
df['mta_tax'].isna().sum()

0

In [233]:
df['extra'].isna().sum()

0

In [234]:
df['fare_amount'].isna().sum()

0

In [235]:
df['payment_type'].isna().sum()

0

In [236]:
df['do_location_id'].isna().sum()

0

In [237]:
df['store_and_fwd_flag'].isna().sum()

0

In [238]:
df['pu_location_id'].isna().sum()

0

In [239]:
df['dropoff_datetime'].isna().sum()

0

In [240]:
df['rate_code_id'].isna().sum()

0

In [241]:
df['passenger_count'].isna().sum()

0

In [242]:
df['trip_distance'].isna().sum()

0

In [248]:
df['passenger_count'].duplicated().sum()

2888398

In [249]:
df['vendor_id'].duplicated().sum()

2888403

In [250]:
df['trip_duration_min'].duplicated().sum()

2880613

In [251]:
df['cbd_congestion_fee'].duplicated().sum()

2888403

In [252]:
df['airport_fee'].duplicated().sum()

2888403

In [267]:
df['total_amount'].duplicated().sum()

2873880

In [266]:
df['pickup_datetime'].duplicated().sum()

1358028

In [265]:
df['improvement_surcharge'].duplicated().sum()

2888403

In [264]:
df['congestion_surcharge'].duplicated().sum()

2888401

In [263]:
df['tolls_amount'].duplicated().sum()

2887475

In [262]:
df['mta_tax'].duplicated().sum()

2888403

In [261]:
df['fare_amount'].duplicated().sum()

2886002

In [260]:
df['extra'].duplicated().sum()

2888363

In [259]:
df['trip_distance'].duplicated().sum()

2884964

In [258]:
df['dropoff_datetime'].duplicated().sum()

1359632

In [257]:
df['do_location_id'].duplicated().sum()

2888148

In [256]:
df['pu_location_id'].duplicated().sum()

2888159

In [255]:
df['store_and_fwd_flag'].duplicated().sum()

2888403

In [254]:
df['payment_type'].duplicated().sum()

2888401

In [253]:
df['rate_code_id'].duplicated().sum()

2888399

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [269]:
df['vendor_id'].unique().tolist()

[2, 1]

In [271]:
df['pickup_datetime'].nunique()

1530377

In [273]:
df['passenger_count'].sort_values().unique().tolist()

[0, 1, 2, 3, 4, 5, 6]

In [275]:
df['rate_code_id'].nunique()

6

In [278]:
df['rate_code_id'].sort_values().unique().tolist()

[1, 2, 3, 4, 5, 6]

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [283]:
df['store_and_fwd_flag'].unique().tolist()

['N', 'Y']

In [285]:
df.head(2)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1,N,142,237,Credit Card,14.2,1.00,0.5,4.99,0.0,1.0,24.94,2.5,0.0,0.75,12.250000
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1,N,163,238,Credit Card,15.6,4.25,0.5,4.27,0.0,1.0,25.62,2.5,0.0,0.75,13.366667

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [290]:
df['payment_type'].unique().tolist()

['Credit Card', 'Cash', 'No Charge', 'Dispute']

In [293]:
df['fare_amount'].nunique()

2403

In [295]:
df['fare_amount'].max()

1508.7

In [296]:
df['fare_amount'].min()

0.0

In [297]:
df['fare_amount'].mean()

19.254424452249598

In [299]:
avg = df['fare_amount'].sum() / len(df)
print(avg)

19.254424452249598

In [300]:
df['extra'].nunique()

42

In [303]:
df['extra'].min()

0.0

In [304]:
df['extra'].max()

15.0

In [305]:
df['extra'].unique()

array([ 1.  ,  4.25,  6.  ,  7.75,  3.5 , 11.  ,  3.25,  1.75,  0.  ,
        2.5 ,  0.75,  2.75,  5.  ,  0.25,  7.5 ,  6.75, 10.25,  5.75,
        8.5 ,  9.25,  3.95,  8.25, 10.  , 12.5 ,  8.95, 11.75, 10.75,
        6.5 ,  3.47,  7.05, 15.  ,  5.25,  3.2 ,  2.9 ,  4.  ,  4.15,
       14.25, 11.5 ,  0.26,  1.5 ,  1.25,  0.5 ])

In [307]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [310]:
df['mta_tax'].describe()

count    2.888405e+06
mean     4.937626e-01
std      5.549570e-02
min      0.000000e+00
25%      5.000000e-01
50%      5.000000e-01
75%      5.000000e-01
max      5.000000e-01
Name: mta_tax, dtype: float64

In [311]:
df['mta_tax'].nunique()

2

In [312]:
df['mta_tax'].unique().tolist()

[0.5, 0.0]

In [313]:
df['mta_tax'].shape[0]

2888405

In [314]:
df.shape[0]

2888405

In [316]:
df['mta_tax'].isna().sum()

0

In [317]:
df['tip_amount'].isna().sum()

0

In [319]:
df['tip_amount'].nunique()

3652

In [321]:
df['tip_amount'].duplicated().sum()

2884753

In [323]:
df['tip_amount'].isna().sum()

0

In [324]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [325]:
df['tolls_amount'].isna().sum()

0

In [327]:
valid_tip = (df['tip_amount'] >= 0) | (df['tip_amount'] <= 200)
valid_tip

1          True
2          True
3          True
4          True
5          True
           ...
3166699    True
3166700    True
3166701    True
3166702    True
3166703    True
Name: tip_amount, Length: 2888405, dtype: bool

In [335]:
df['tolls_amount'].isna().sum()

0

In [336]:
df['tolls_amount'].nunique()

930

In [339]:
df['tolls_amount'].min()

0.0

In [340]:
df['tolls_amount'].max()

108.18

In [341]:
df['tolls_amount'].mean()

0.5226561095137278

In [345]:
df['tolls_amount']

1          0.00
2          0.00
3          6.94
4          0.00
5          0.00
           ...
3166699    6.94
3166700    0.00
3166701    6.94
3166702    6.94
3166703    6.94
Name: tolls_amount, Length: 2888405, dtype: float64

In [346]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [347]:
df['tolls_amount'].duplicated().sum()

2887475

In [348]:
df['tolls_amount'].min()

0.0

In [349]:
df['tolls_amount'].max()

108.18

In [350]:
(df['tolls_amount']>0).mean()

0.06960450490841831

In [351]:
df['tolls_amount'].value_counts().head(5)

tolls_amount
0.00     2687359
6.94      186729
14.06       1818
16.06       1799
13.88       1189
Name: count, dtype: int64

In [352]:
df['tolls_amount'].nunique()

930

In [355]:
df['tolls_amount'].round(2).nunique()

930

In [356]:
df['tolls_amount'] = df['tolls_amount'].round(2)

In [357]:
df['tolls_amount'].nunique()

930

In [358]:
((df['tolls_amount'] * 100) % 1 != 0).sum()

2776

In [359]:
df['tolls_amount'].describe()

count    2.888405e+06
mean     5.226561e-01
std      2.059016e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.081800e+02
Name: tolls_amount, dtype: float64

In [360]:
df.loc[df['tolls_amount']>0, 'trip_distance'].describe()

count    201046.000000
mean         13.370088
std           5.232670
min           0.010000
25%           9.180000
50%          11.990000
75%          17.600000
max          96.900000
Name: trip_distance, dtype: float64

In [361]:
df.loc[df['tolls_amount'] > 0, ['pu_location_id','do_location_id']].sample(10)

         pu_location_id  do_location_id
287598               13             138
1769674             138             238
942944              239             138
2537841             132             234
426866              138             233
3110025              90             138
308949              138             236
139667              239             140
1513326             132             246
2204783             237             138

In [362]:
# Documentation: 
# â€œtolls_amount exhibits a wide range of valid floating-point values 
# due to variable toll pricing. Precision artifacts affected <0.1% of
# records and were resolved by rounding to two decimal places.
# High toll values correspond to long-distance trips and were retained.â€

In [363]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [364]:
df['improvement_surcharge'].isna().sum()

0

In [366]:
df['improvement_surcharge'].duplicated().sum()

2888403

In [367]:
df['improvement_surcharge'].nunique()

2

In [368]:
df['improvement_surcharge'].unique().tolist()

[1.0, 0.0]

In [370]:
df['improvement_surcharge'].min()

0.0

In [371]:
df['improvement_surcharge'].max()

1.0

In [372]:
df['improvement_surcharge'].mean()

0.9998670546547316

In [375]:
df.head(2)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1,N,142,237,Credit Card,14.2,1.00,0.5,4.99,0.0,1.0,24.94,2.5,0.0,0.75,12.250000
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1,N,163,238,Credit Card,15.6,4.25,0.5,4.27,0.0,1.0,25.62,2.5,0.0,0.75,13.366667

In [377]:
# Fare_Amount , Extra, MTA-TAX, Tip_Amount, Tolls_Amount, Improvement_Surcharge,
# Congestion_Surcharge, Airport_Fee, CBD_Congestion_Fee must all be added and the result 
# Should be equal to Total_amount in which in many rows, it is not equal, the data in this
# Case is suspicious

In [378]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 21 columns):
 #   Column                 Dtype
---  ------                 -----
 0   vendor_id              category
 1   pickup_datetime        datetime64[us]
 2   dropoff_datetime       datetime64[us]
 3   passenger_count        Int8
 4   trip_distance          float64
 5   rate_code_id           category
 6   store_and_fwd_flag     category
 7   pu_location_id         Int16
 8   do_location_id         Int16
 9   payment_type           category
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  cbd_congestion_fee     float64
 20  trip_duration_min      float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(12)
memory usage: 363.6 MB

In [380]:
df['airport_fee'].unique().tolist()

[0.0, 1.75]

In [381]:
df['improvement_surcharge'].nunique()

2

In [382]:
df['improvement_surcharge'].unique().tolist()

[1.0, 0.0]

In [383]:
df['improvement_surcharge'].isna().sum()

0

In [384]:
(df['improvement_surcharge'] < 0).sum()

0

In [385]:
df['improvement_surcharge'].value_counts(dropna=False)

improvement_surcharge
1.0    2888021
0.0        384
Name: count, dtype: int64

In [387]:
diff = df['total_amount'] - (
    df['fare_amount']
    + df['extra']
    + df['mta_tax']
    + df['tip_amount']
    + df['tolls_amount']
    + df['congestion_surcharge']
    + df['airport_fee']
    + df['cbd_congestion_fee']
)
diff.describe()

count    2.888405e+06
mean     4.147492e-01
std      1.243426e+00
min     -4.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      3.500000e+00
dtype: float64

In [388]:
df['amount_diff'] = df['total_amount'] - (
    df['fare_amount']
    + df['extra']
    + df['mta_tax']
    + df['tip_amount']
    + df['tolls_amount']
    + df['congestion_surcharge']
    + df['airport_fee']
    + df['cbd_congestion_fee']
)

In [390]:
df['amount_diff'].value_counts().head(15)

amount_diff
 1.00    1937529
-2.25     334912
 1.00     123654
 1.00     108624
-1.50      88125
 1.00      74010
 1.00      30873
 1.00      26118
-2.25      25457
-2.25      19918
 1.00      14674
 1.00      14142
-4.00      13060
-0.75      10845
-2.25       9287
Name: count, dtype: int64

In [391]:
df.head(5)

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
1,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1,N,142,237,Credit Card,14.2,1.00,0.5,4.99,0.00,1.0,24.94,2.5,0.00,0.75,12.250000,1.00
2,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1,N,163,238,Credit Card,15.6,4.25,0.5,4.27,0.00,1.0,25.62,2.5,0.00,0.75,13.366667,-2.25
3,2,2025-11-01 00:00:00,2025-11-01 01:01:03,3,12.87,1,N,138,261,Credit Card,66.7,6.00,0.5,0.00,6.94,1.0,86.14,2.5,1.75,0.75,61.050000,1.00
4,1,2025-11-01 00:18:50,2025-11-01 00:49:32,0,8.40,1,N,138,37,Cash,39.4,7.75,0.5,0.00,0.00,1.0,48.65,0.0,1.75,0.00,30.700000,-0.75
5,2,2025-11-01 00:21:11,2025-11-01 00:31:39,1,0.85,1,N,90,100,Cash,10.7,1.00,0.5,0.00,0.00,1.0,16.45,2.5,0.00,0.75,10.466667,1.00

In [397]:
# Documentation: 
# Although total_amount conceptually represents the sum of individual
# fare components, exact equality does not hold due to policy-based
# surcharges encoded as indicators, fee embedding, and rounding logic.
# The observed differences are discrete
# and systematic, confirming data integrity rather than corruption.

# Documentation # 2:
# The total_amount column is treated as the authoritative final fare.
# While it conceptually reflects the sum of individual components, 
# exact equality does not always hold due to policy-based surcharges
# encoded as indicator variables, fee embedding, and rounding logic. 
# The improvement_surcharge column is therefore interpreted as 
# a binary flag indicating surcharge application rather than a monetary amount.

In [398]:
df.rename(columns={'improvement_surcharge':'improvement_surcharge_applied'},
         inplace=True)

In [395]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      category
 1   pickup_datetime                datetime64[us]
 2   dropoff_datetime               datetime64[us]
 3   passenger_count                Int8
 4   trip_distance                  float64
 5   rate_code_id                   category
 6   store_and_fwd_flag             category
 7   pu_location_id                 Int16
 8   do_location_id                 Int16
 9   payment_type                   category
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(13)
memory usage: 385.6 MB

In [399]:
# Documentation: improvement_surcharge_applied column is not a dollor amount
# It is a binary indicator (1.00 -> surcharge applied, 0.00 -> not applied)
# The actual $ value is alreay embedded in total_amount so the column was semantically
# misnamed, not dirty

In [400]:
df['total_amount'].isna().sum()

0

In [401]:
df['total_amount'].mean()

29.10304960696301

In [402]:
df['total_amount'].min()

0.0

In [403]:
df['total_amount'].max()

1514.45

In [404]:
df['congestion_surcharge'].unique()

array([2.5 , 0.  , 1.  , 0.75])

In [405]:
df['congestion_surcharge'].nunique()

4

In [406]:
df['congestion_surcharge'].min()

0.0

In [407]:
df['congestion_surcharge'].describe()

count    2.888405e+06
mean     2.350052e+00
std      5.936193e-01
min      0.000000e+00
25%      2.500000e+00
50%      2.500000e+00
75%      2.500000e+00
max      2.500000e+00
Name: congestion_surcharge, dtype: float64

In [408]:
df['congestion_surcharge'].isna().sum()

0

In [409]:
(df['congestion_surcharge'] < 0).sum()

0

In [410]:
df['congestion_surcharge'].value_counts(normalize=True)

congestion_surcharge
2.50    9.400205e-01
0.00    5.997843e-02
0.75    6.924237e-07
1.00    3.462118e-07
Name: proportion, dtype: float64

In [411]:
# Documentation: â€œThe congestion_surcharge reflects 
# policy-based fees applied to trips operating within designated 
# congestion zones. Observed values correspond to official surcharge 
# tiers (0, 0.75, 1.00, and 2.50 USD)
# and are treated as valid monetary components.â€

In [412]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      category
 1   pickup_datetime                datetime64[us]
 2   dropoff_datetime               datetime64[us]
 3   passenger_count                Int8
 4   trip_distance                  float64
 5   rate_code_id                   category
 6   store_and_fwd_flag             category
 7   pu_location_id                 Int16
 8   do_location_id                 Int16
 9   payment_type                   category
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(13)
memory usage: 385.6 MB

In [413]:
df['airport_fee'].nunique()

2

In [415]:
df['airport_fee'].unique().tolist()

[0.0, 1.75]

In [416]:
df['airport_fee'].isna().sum()

0

In [418]:
df['airport_fee'].duplicated().sum()

2888403

In [420]:
df['airport_fee'].describe()

count    2.888405e+06
mean     1.498264e-01
std      4.896410e-01
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      1.750000e+00
Name: airport_fee, dtype: float64

In [421]:
(df['airport_fee'] < 0).sum()

0

In [422]:
# Documentation: â€œThe airport_fee is a fixed surcharge applied to trips
# involving designated airports. In the dataset, it takes values of either 
# 0 or 1.75 USD, consistent with NYC TLC policy.â€

In [424]:
involve_ap = df['airport_fee'].mean() / df['airport_fee'].max()

In [425]:
involve_ap

0.08561507129367245

In [426]:
# Calculation: 8.6 percent of the trips involve an airport

In [427]:
df['airport_fee'].dtype

dtype('float64')

In [ ]:
df['airport_fee'] = df['airport_fee'].astype('Int')

In [428]:
# Documentation: 
# â€œThe airport_fee column represents a fixed surcharge applied to
# airport-related trips. It takes values of 0 or 1.75 USD, with 
# approximately 9% of trips incurring the fee. The distribution and
# duplication patterns 
# are consistent with expected NYC taxi travel behavior.â€

In [429]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      category
 1   pickup_datetime                datetime64[us]
 2   dropoff_datetime               datetime64[us]
 3   passenger_count                Int8
 4   trip_distance                  float64
 5   rate_code_id                   category
 6   store_and_fwd_flag             category
 7   pu_location_id                 Int16
 8   do_location_id                 Int16
 9   payment_type                   category
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(13)
memory usage: 385.6 MB

In [430]:
df['cbd_congestion_fee'].dtype

dtype('float64')

In [431]:
df['cbd_congestion_fee'].describe()

count    2.888405e+06
mean     5.688189e-01
std      3.210285e-01
min      0.000000e+00
25%      7.500000e-01
50%      7.500000e-01
75%      7.500000e-01
max      7.500000e-01
Name: cbd_congestion_fee, dtype: float64

In [432]:
df['cbd_congestion_fee'].min()

0.0

In [433]:
df['cbd_congestion_fee'].max()

0.75

In [434]:
df['cbd_congestion_fee'].nunique()

2

In [435]:
df['cbd_congestion_fee'].unique().tolist()

[0.75, 0.0]

In [436]:
df['cbd_congestion_fee'].duplicated().sum()

2888403

In [437]:
df['cbd_congestion_fee'].isna().sum()

0

In [438]:
df['cbd_congestion_fee'].dtype

dtype('float64')

In [450]:
time_range = (df['pickup_datetime'].min(), df['pickup_datetime'].max())

In [451]:
time_range

(Timestamp('2008-12-31 23:04:21'), Timestamp('2025-11-30 23:59:59'))

In [454]:
time_range_1 = (df['dropoff_datetime'].min(), df['dropoff_datetime'].max())

In [455]:
time_range_1

(Timestamp('2008-12-31 23:32:25'), Timestamp('2025-12-01 17:26:27'))

In [1]:
(df['pickup_datetime'] < '2025-11-01').sum()

NameError: name 'df' is not defined

In [452]:
df.loc[df['pickup_datetime'] < '2025-11-01',
        ['pickup_datetime', 'dropoff_datetime']].head(25)

            pickup_datetime    dropoff_datetime
53      2025-10-31 23:58:15 2025-11-01 00:08:06
65      2025-10-31 23:59:16 2025-11-01 00:30:48
188     2025-10-31 23:50:19 2025-10-31 23:57:03
203     2025-10-31 23:57:52 2025-11-01 00:07:58
343     2025-10-31 23:58:16 2025-11-01 00:10:07
425     2025-10-31 23:56:21 2025-11-01 00:18:08
713     2025-10-31 23:49:20 2025-11-01 00:00:37
837     2025-10-31 23:59:04 2025-11-01 00:06:59
863     2025-10-31 23:36:10 2025-10-31 23:47:24
864     2025-10-31 23:50:14 2025-11-01 00:05:23
871     2025-10-31 23:59:15 2025-11-01 00:16:57
1036    2025-10-31 23:51:37 2025-11-01 00:19:26
1129    2025-10-31 23:55:00 2025-11-01 00:19:37
1324    2025-10-31 23:58:11 2025-11-01 00:08:09
1474    2025-10-31 23:58:42 2025-11-01 00:09:40
1635    2025-10-31 23:58:50 2025-11-01 00:28:20
1754    2025-10-31 23:57:00 2025-11-01 00:16:23
1992    2025-10-31 23:46:16 2025-10-31 23:56:13
2366    2025-10-31 23:57:27 2025-11-01 00:05:48
2639    2025-10-31 23:53:08 2025-11-01 00:31:46
5500    2025-10-31 23:58:21 2025-11-01 00:00:36
1002383 2008-12-31 23:04:21 2008-12-31 23:32:25
1003132 2009-01-01 00:05:50 2009-01-01 00:10:56
2884421 2009-01-01 14:08:04 2009-01-01 14:45:04

In [456]:
df.to_csv('Ready_Pipeline.csv',index=False)

In [457]:
assert df.isna().sum().sum() == 0
assert (df["trip_duration_min"] > 0).all()

In [462]:
pipeline_copy = df.copy()

In [463]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2888405 entries, 1 to 3166703
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      category
 1   pickup_datetime                datetime64[us]
 2   dropoff_datetime               datetime64[us]
 3   passenger_count                Int8
 4   trip_distance                  float64
 5   rate_code_id                   category
 6   store_and_fwd_flag             category
 7   pu_location_id                 Int16
 8   do_location_id                 Int16
 9   payment_type                   category
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: Int16(2), Int8(1), category(4), datetime64[us](2), float64(13)
memory usage: 385.6 MB

### Final Summary

##### validation pipeline for the NYC TLC taxi trip dataset. 
##### The process emphasized logical consistency, domain-aware interpretation,
##### and preservation of policy-driven fare structures rather than aggressive
##### data modification. All columns were assessed for missing values,
##### invalid ranges, and semantic correctness, with particular care taken when
##### handling fixed surcharges such as airport and congestion fees. While minor
##### discrepancies between fare components and total amounts were observed, these 
##### were documented and attributed to known TLC pricing behaviors. The resulting 
##### dataset is clean, internally consistent,
##### and suitable for downstream exploratory analysis and modeling.

In [ ]:
# Code to Run Later On
df['tolls_amount'] = df['tolls_amount'].round(2)