In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_parquet('nyc_taxi_jan_2025_nov_2025.parquet')

In [6]:
df.shape

(34670520, 20)

In [5]:
january = pd.read_parquet('jan_2025_cleaned.parquet')

In [7]:
january.shape

(2752626, 22)

In [42]:
january.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1.0,N,229,237,Credit Card,...,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0,8.350000,-1.5
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1.0,N,236,237,Credit Card,...,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0,2.550000,-1.5
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1.0,N,141,141,Credit Card,...,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0,1.950000,-1.5
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1.0,N,244,244,Cash,...,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0,5.566667,1.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1.0,N,244,116,Cash,...,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0,3.533333,1.0

In [8]:
february = pd.read_parquet('feb_2025_cleaned.parquet')

In [9]:
february.shape

(2752626, 22)

In [43]:
february.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1.0,N,229,237,Credit Card,...,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0,8.350000,-1.5
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1.0,N,236,237,Credit Card,...,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0,2.550000,-1.5
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1.0,N,141,141,Credit Card,...,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0,1.950000,-1.5
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1.0,N,244,244,Cash,...,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0,5.566667,1.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1.0,N,244,116,Cash,...,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0,3.533333,1.0

In [44]:
january.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-01-01 00:18:38,2025-01-01 00:26:59,1,1.60,1.0,N,229,237,Credit Card,...,0.5,3.00,0.0,1.0,18.00,2.5,0.0,0.0,8.350000,-1.5
1,1,2025-01-01 00:32:40,2025-01-01 00:35:13,1,0.50,1.0,N,236,237,Credit Card,...,0.5,2.02,0.0,1.0,12.12,2.5,0.0,0.0,2.550000,-1.5
2,1,2025-01-01 00:44:04,2025-01-01 00:46:01,1,0.60,1.0,N,141,141,Credit Card,...,0.5,2.00,0.0,1.0,12.10,2.5,0.0,0.0,1.950000,-1.5
3,2,2025-01-01 00:14:27,2025-01-01 00:20:01,3,0.52,1.0,N,244,244,Cash,...,0.5,0.00,0.0,1.0,9.70,0.0,0.0,0.0,5.566667,1.0
4,2,2025-01-01 00:21:34,2025-01-01 00:25:06,3,0.66,1.0,N,244,116,Cash,...,0.5,0.00,0.0,1.0,8.30,0.0,0.0,0.0,3.533333,1.0

In [13]:
march = pd.read_parquet('mar_2025_cleaned.parquet')

In [14]:
march.shape

(3015063, 22)

In [15]:
march.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-03-01 00:17:16,2025-03-01 00:25:52,1,0.90,1.0,N,140,236,Credit Card,...,0.5,2.60,0.0,1.0,15.50,2.5,0.0,0.00,8.600000,-1.50
1,1,2025-03-01 00:37:38,2025-03-01 00:43:51,1,0.60,1.0,N,140,262,Credit Card,...,0.5,2.30,0.0,1.0,13.80,2.5,0.0,0.00,6.216667,-1.50
2,2,2025-03-01 00:24:35,2025-03-01 00:39:49,1,1.94,1.0,N,161,68,Credit Card,...,0.5,5.16,0.0,1.0,25.81,2.5,0.0,0.75,15.233333,1.00
3,2,2025-03-01 00:56:16,2025-03-01 01:01:35,2,0.95,1.0,N,231,13,Credit Card,...,0.5,2.59,0.0,1.0,15.54,2.5,0.0,0.75,5.316667,1.00
4,1,2025-03-01 00:01:44,2025-03-01 00:10:00,1,1.50,1.0,N,163,236,Credit Card,...,0.5,2.85,0.0,1.0,17.20,2.5,0.0,0.75,8.266667,-2.25

In [16]:
march.shape

(3015063, 22)

In [17]:
april = pd.read_parquet('apr_2025_cleaned.parquet')

In [18]:
april.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-04-01 00:47:06,2025-04-01 01:13:25,1,9.50,1.0,N,138,230,Credit Card,...,0.5,11.65,6.94,1.0,69.79,2.5,1.75,0.75,26.316667,-4.00
1,2,2025-04-01 00:27:35,2025-04-01 00:38:19,2,3.77,1.0,N,138,92,Credit Card,...,0.5,4.90,0.00,1.0,31.15,0.0,1.75,0.00,10.733333,1.00
2,2,2025-04-01 00:24:07,2025-04-01 00:35:12,1,5.41,1.0,N,132,130,Credit Card,...,0.5,5.37,0.00,1.0,32.22,0.0,1.75,0.00,11.083333,1.00
3,1,2025-04-01 00:56:30,2025-04-01 01:00:49,2,0.60,1.0,N,79,4,Credit Card,...,0.5,2.45,0.00,1.0,14.70,2.5,0.00,0.75,4.316667,-2.25
4,2,2025-04-01 00:00:17,2025-04-01 00:16:19,1,0.43,1.0,N,161,229,Cash,...,0.5,0.00,0.00,1.0,10.15,2.5,0.00,0.75,16.033333,1.00

In [19]:
april.shape

(2992143, 22)

In [20]:
may = pd.read_parquet('may_2025_cleaned.parquet')

In [21]:
may.shape

(3121083, 22)

In [22]:
may.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-05-01 00:07:06,2025-05-01 00:24:15,1,3.70,1.0,N,140,202,Credit Card,...,0.5,4.85,0.00,1.0,29.00,2.5,0.00,0.75,17.150000,-2.25
1,2,2025-05-01 00:07:44,2025-05-01 00:14:27,1,1.03,1.0,N,234,161,Credit Card,...,0.5,4.30,0.00,1.0,18.65,2.5,0.00,0.75,6.716667,1.00
2,2,2025-05-01 00:15:56,2025-05-01 00:23:53,1,1.57,1.0,N,161,234,Cash,...,0.5,0.00,0.00,1.0,15.75,2.5,0.00,0.75,7.950000,1.00
3,2,2025-05-01 00:00:09,2025-05-01 00:25:29,1,9.48,1.0,N,138,90,Credit Card,...,0.5,11.70,6.94,1.0,71.94,2.5,1.75,0.75,25.333333,1.00
4,2,2025-05-01 00:45:07,2025-05-01 00:52:45,1,1.80,1.0,N,90,231,Credit Card,...,0.5,1.50,0.00,1.0,17.25,2.5,0.00,0.75,7.633333,1.00

In [23]:
june = pd.read_parquet('jun_2025_cleaned.parquet')

In [24]:
june.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-03-01 00:17:16,2025-03-01 00:25:52,1,0.90,1.0,N,140,236,Credit Card,...,0.5,2.60,0.0,1.0,15.50,2.5,0.0,0.00,8.600000,-1.50
1,1,2025-03-01 00:37:38,2025-03-01 00:43:51,1,0.60,1.0,N,140,262,Credit Card,...,0.5,2.30,0.0,1.0,13.80,2.5,0.0,0.00,6.216667,-1.50
2,2,2025-03-01 00:24:35,2025-03-01 00:39:49,1,1.94,1.0,N,161,68,Credit Card,...,0.5,5.16,0.0,1.0,25.81,2.5,0.0,0.75,15.233333,1.00
3,2,2025-03-01 00:56:16,2025-03-01 01:01:35,2,0.95,1.0,N,231,13,Credit Card,...,0.5,2.59,0.0,1.0,15.54,2.5,0.0,0.75,5.316667,1.00
4,1,2025-03-01 00:01:44,2025-03-01 00:10:00,1,1.50,1.0,N,163,236,Credit Card,...,0.5,2.85,0.0,1.0,17.20,2.5,0.0,0.75,8.266667,-2.25

In [25]:
june.shape

(3015063, 22)

In [26]:
july = pd.read_parquet('jul_2025_cleaned.parquet')

In [27]:
july.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-07-01 00:29:37,2025-07-01 00:45:30,1,7.30,1.0,N,138,74,Credit Card,...,0.5,9.00,6.94,1.0,54.79,0.0,1.75,0.00,15.883333,-0.75
1,1,2025-07-01 00:23:28,2025-07-01 01:07:44,1,17.70,2.0,N,132,142,Credit Card,...,0.5,5.00,0.00,1.0,80.75,2.5,1.75,0.00,44.266667,-3.25
2,2,2025-07-01 00:53:50,2025-07-01 01:27:12,1,9.98,1.0,N,138,48,Credit Card,...,0.5,10.87,0.00,1.0,66.97,2.5,1.75,0.75,33.366667,1.00
3,2,2025-07-01 00:58:49,2025-07-01 01:15:55,1,10.27,1.0,N,138,229,Credit Card,...,0.5,14.10,6.94,1.0,72.24,2.5,1.75,0.75,17.100000,1.00
4,2,2025-07-01 00:09:22,2025-07-01 00:23:54,1,2.94,1.0,N,211,97,Credit Card,...,0.5,3.00,0.00,1.0,25.75,2.5,0.00,0.75,14.533333,1.00

In [28]:
july.shape

(2594458, 22)

In [29]:
august = pd.read_parquet('aug_2025_cleaned.parquet')

In [30]:
august.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,2,2025-08-01 00:52:23,2025-08-01 01:12:20,1,8.44,1.0,N,138,141,Credit Card,...,0.5,5.00,6.94,1.0,57.49,2.5,1.75,0.00,19.950000,1.0
1,2,2025-08-01 00:03:01,2025-08-01 00:15:33,2,4.98,1.0,N,138,193,Credit Card,...,0.5,0.00,0.00,1.0,30.45,0.0,1.75,0.00,12.533333,1.0
2,2,2025-08-01 00:25:34,2025-08-01 00:33:18,1,2.14,1.0,N,43,48,Credit Card,...,0.5,2.57,0.00,1.0,19.72,2.5,0.00,0.75,7.733333,1.0
3,2,2025-08-01 00:16:36,2025-08-01 00:33:41,1,3.06,1.0,N,114,230,Cash,...,0.5,0.00,0.00,1.0,24.15,2.5,0.00,0.75,17.083333,1.0
4,2,2025-08-01 00:56:02,2025-08-01 01:15:37,1,5.25,1.0,N,163,13,Credit Card,...,0.5,1.00,0.00,1.0,31.45,2.5,0.00,0.75,19.583333,1.0

In [31]:
august.shape

(2417131, 22)

In [32]:
september = pd.read_parquet('sep_2025_cleaned.parquet')

In [33]:
september.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,2,2025-09-01 00:19:20,2025-09-01 00:45:17,1,9.92,1.0,N,138,114,Credit Card,...,0.5,10.73,0.0,1.0,66.13,2.5,1.75,0.75,25.950000,1.0
1,2,2025-09-01 00:15:20,2025-09-01 00:26:08,2,6.82,1.0,N,93,157,Credit Card,...,0.5,5.86,0.0,1.0,35.16,0.0,0.00,0.00,10.800000,1.0
2,2,2025-09-01 00:06:07,2025-09-01 00:22:23,1,3.95,1.0,N,68,13,Credit Card,...,0.5,5.11,0.0,1.0,30.66,2.5,0.00,0.75,16.266667,1.0
3,2,2025-09-01 00:49:47,2025-09-01 01:04:49,1,3.14,1.0,N,234,87,Credit Card,...,0.5,3.52,0.0,1.0,26.97,2.5,0.00,0.75,15.033333,1.0
4,2,2025-09-01 00:05:00,2025-09-01 00:15:32,6,2.81,1.0,N,230,151,Credit Card,...,0.5,4.13,0.0,1.0,24.78,2.5,0.00,0.75,10.533333,1.0

In [34]:
september.shape

(2879717, 22)

In [35]:
october = pd.read_parquet('oct_2025_cleaned.parquet')

In [36]:
october.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-10-01 00:15:32,2025-10-01 01:04:03,1,17.20,2.0,N,132,107,Credit Card,...,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75,48.516667,-4.00
1,2,2025-10-01 00:08:54,2025-10-01 00:14:44,1,2.75,1.0,N,263,229,Credit Card,...,0.5,3.71,0.00,1.0,22.26,2.5,0.00,0.75,5.833333,1.00
2,1,2025-10-01 00:58:48,2025-10-01 01:04:40,1,1.30,1.0,N,211,231,Cash,...,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75,5.866667,-2.25
3,2,2025-10-01 00:39:51,2025-10-01 00:49:40,1,2.88,1.0,N,230,151,Credit Card,...,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75,9.816667,1.00
4,1,2025-10-01 00:30:54,2025-10-01 00:37:50,1,1.60,1.0,N,237,142,Cash,...,0.5,0.00,0.00,1.0,14.30,2.5,0.00,0.00,6.933333,-1.50

In [37]:
october.shape

(3110917, 22)

In [38]:
november = pd.read_parquet('nov_2025_cleaned.parquet')

In [39]:
november.shape

(2888405, 22)

In [45]:
november.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,2,2025-11-01 00:49:07,2025-11-01 01:01:22,1,2.28,1,N,142,237,Credit Card,...,0.5,4.99,0.00,1.0,24.94,2.5,0.00,0.75,12.250000,1.00
1,1,2025-11-01 00:07:19,2025-11-01 00:20:41,0,2.70,1,N,163,238,Credit Card,...,0.5,4.27,0.00,1.0,25.62,2.5,0.00,0.75,13.366667,-2.25
2,2,2025-11-01 00:00:00,2025-11-01 01:01:03,3,12.87,1,N,138,261,Credit Card,...,0.5,0.00,6.94,1.0,86.14,2.5,1.75,0.75,61.050000,1.00
3,1,2025-11-01 00:18:50,2025-11-01 00:49:32,0,8.40,1,N,138,37,Cash,...,0.5,0.00,0.00,1.0,48.65,0.0,1.75,0.00,30.700000,-0.75
4,2,2025-11-01 00:21:11,2025-11-01 00:31:39,1,0.85,1,N,90,100,Cash,...,0.5,0.00,0.00,1.0,16.45,2.5,0.00,0.75,10.466667,1.00

In [46]:
january.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752626 entries, 0 to 2752625
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 462.0+ MB

In [47]:
february.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752626 entries, 0 to 2752625
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 462.0+ MB

In [48]:
february = pd.DataFrame()

In [49]:
february

Empty DataFrame
Columns: []
Index: []

In [50]:
june.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015063 entries, 0 to 3015062
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 506.1+ MB

In [51]:
june = pd.DataFrame()

In [52]:
june

Empty DataFrame
Columns: []
Index: []

In [53]:
february = pd.read_parquet('feb_2025_cleaned.parquet')

In [54]:
february.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,2,2025-02-01 00:12:18,2025-02-01 00:32:33,3,3.12,1.0,N,246,79,Credit Card,...,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,20.250000,1.0
1,2,2025-02-01 00:40:04,2025-02-01 00:49:15,1,1.40,1.0,N,114,79,Credit Card,...,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75,9.183333,1.0
2,2,2025-02-01 00:02:52,2025-02-01 00:20:25,1,4.19,1.0,N,113,263,Credit Card,...,0.5,5.11,0.0,1.0,30.66,2.5,0.0,0.75,17.550000,1.0
3,2,2025-02-01 00:33:47,2025-02-01 00:41:49,1,1.57,1.0,N,162,236,Credit Card,...,0.5,3.15,0.0,1.0,18.90,2.5,0.0,0.75,8.033333,1.0
4,2,2025-02-01 00:37:12,2025-02-01 00:39:49,1,0.30,1.0,N,164,186,Credit Card,...,0.5,3.00,0.0,1.0,13.15,2.5,0.0,0.75,2.616667,1.0

In [57]:
june = pd.read_parquet('jun_2025_cleaned.parquet')

In [58]:
june.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-06-01 00:02:50,2025-06-01 00:39:51,1,10.00,1.0,N,138,50,Credit Card,...,0.5,20.15,6.94,1.0,87.39,2.5,1.75,0.75,37.016667,-4.00
1,2,2025-06-01 00:11:27,2025-06-01 00:35:35,1,3.93,1.0,N,158,237,Credit Card,...,0.5,6.09,0.00,1.0,36.54,2.5,0.00,0.75,24.133333,1.00
2,1,2025-06-01 00:01:15,2025-06-01 00:42:16,1,17.00,2.0,N,132,232,Credit Card,...,0.5,5.00,0.00,1.0,79.75,2.5,0.00,0.75,41.016667,-2.25
3,1,2025-06-01 00:52:28,2025-06-01 01:03:29,1,2.50,1.0,N,249,142,Credit Card,...,0.5,5.75,0.00,1.0,25.00,2.5,0.00,0.75,11.016667,-2.25
4,2,2025-06-01 00:06:41,2025-06-01 00:10:30,2,0.53,1.0,N,48,163,Credit Card,...,0.5,2.31,0.00,1.0,13.86,2.5,0.00,0.75,3.816667,1.00

In [59]:
# Column Validation

In [60]:
january.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2752626 entries, 0 to 2752625
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 462.0+ MB

In [61]:
february.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2599121 entries, 0 to 2599120
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 436.3+ MB

In [62]:
march.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pu_location_id,do_location_id,payment_type,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge_applied,total_amount,congestion_surcharge,airport_fee,cbd_congestion_fee,trip_duration_min,amount_diff
0,1,2025-03-01 00:17:16,2025-03-01 00:25:52,1,0.90,1.0,N,140,236,Credit Card,...,0.5,2.60,0.0,1.0,15.50,2.5,0.0,0.00,8.600000,-1.50
1,1,2025-03-01 00:37:38,2025-03-01 00:43:51,1,0.60,1.0,N,140,262,Credit Card,...,0.5,2.30,0.0,1.0,13.80,2.5,0.0,0.00,6.216667,-1.50
2,2,2025-03-01 00:24:35,2025-03-01 00:39:49,1,1.94,1.0,N,161,68,Credit Card,...,0.5,5.16,0.0,1.0,25.81,2.5,0.0,0.75,15.233333,1.00
3,2,2025-03-01 00:56:16,2025-03-01 01:01:35,2,0.95,1.0,N,231,13,Credit Card,...,0.5,2.59,0.0,1.0,15.54,2.5,0.0,0.75,5.316667,1.00
4,1,2025-03-01 00:01:44,2025-03-01 00:10:00,1,1.50,1.0,N,163,236,Credit Card,...,0.5,2.85,0.0,1.0,17.20,2.5,0.0,0.75,8.266667,-2.25

In [63]:
march.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3015063 entries, 0 to 3015062
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 506.1+ MB

In [65]:
april.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2992143 entries, 0 to 2992142
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 502.2+ MB

In [66]:
may.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3121083 entries, 0 to 3121082
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 523.9+ MB

In [67]:
june.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838991 entries, 0 to 2838990
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 476.5+ MB

In [68]:
july.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2594458 entries, 0 to 2594457
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 435.5+ MB

In [69]:
august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2417131 entries, 0 to 2417130
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 405.7+ MB

In [70]:
september.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879717 entries, 0 to 2879716
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 483.4+ MB

In [72]:
october.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3110917 entries, 0 to 3110916
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 522.2+ MB

In [73]:
november.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888405 entries, 0 to 2888404
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   int64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(13), int64(5), object(4)
memory usage: 484.8+ MB

In [77]:
november['rate_code_id'] = november['rate_code_id'].astype('float64')

In [78]:
november.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2888405 entries, 0 to 2888404
Data columns (total 22 columns):
 #   Column                         Dtype
---  ------                         -----
 0   vendor_id                      int64
 1   pickup_datetime                object
 2   dropoff_datetime               object
 3   passenger_count                int64
 4   trip_distance                  float64
 5   rate_code_id                   float64
 6   store_and_fwd_flag             object
 7   pu_location_id                 int64
 8   do_location_id                 int64
 9   payment_type                   object
 10  fare_amount                    float64
 11  extra                          float64
 12  mta_tax                        float64
 13  tip_amount                     float64
 14  tolls_amount                   float64
 15  improvement_surcharge_applied  float64
 16  total_amount                   float64
 17  congestion_surcharge           float64
 18  airport_fee                    float64
 19  cbd_congestion_fee             float64
 20  trip_duration_min              float64
 21  amount_diff                    float64
dtypes: float64(14), int64(4), object(4)
memory usage: 484.8+ MB

### Documentation

"""In this notebook, the NYC Yellow Taxi dataset from January through November is documented and validated. Each monthly file contains twenty‑two columns with identical names, ensuring schema consistency across all months. The data types are uniform: fourteen columns are stored as float64 for monetary values, distances, surcharges, duration, and derived amounts; four columns are stored as int64 for identifiers and passenger counts; and four columns are stored as object for datetime strings and categorical flags. To improve analytical efficiency, pickup_datetime and dropoff_datetime are converted from object to datetime64, rate_code_id is standardized to int64 or categorical since it represents codes rather than continuous values, and store_and_fwd_flag along with payment_type are converted to categorical to reduce memory usage. Monetary and continuous values remain as float64.
- All months are aligned in terms of column count, names, and data types.
- The unified schema blueprint ensures consistency and reliability across the dataset.
- Recommended adjustments include datetime conversion for time columns, categorical conversion for flags and payment types, and integer/categorical enforcement for rate codes.
- With these adjustments applied, the final concatenated Parquet file is consistent, efficient, and ready for advanced analysis.
This documentation captures the workflow from raw monthly files to a validated, schema‑enforced dataset suitable for large‑scale exploration and modeling.
"""

# Data Concatenation

In [80]:
order_of_months = [
    'jan_2025_cleaned.parquet',
    'feb_2025_cleaned.parquet',
    'mar_2025_cleaned.parquet',
    'apr_2025_cleaned.parquet',
    'may_2025_cleaned.parquet',
    'jun_2025_cleaned.parquet',
    'jul_2025_cleaned.parquet',
    'aug_2025_cleaned.parquet',
    'sep_2025_cleaned.parquet',
    'oct_2025_cleaned.parquet',
    'nov_2025_cleaned.parquet'
]
dfs = [pd.read_parquet(month) for month in order_of_months]

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.to_parquet('final.parquet', engine='pyarrow',
                      compression='snappy')